//Mixins
=box-shadow($left, $top, $blur, $color)
  -webkit-box-shadow: $left $top $blur 0 $color
  -moz-box-shadow: $left $top $blur 0 $color
  box-shadow: $left $top $blur 0 $color
=border-radius($radius)
  border-radius: $radius
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -o-border-radius: $radius
=transition($transition-property, $transition-time, $method)
  -webkit-transition: $transition-property $transition-time $method
  -moz-transition: $transition-property $transition-time $method
  -ms-transition: $transition-property $transition-time $method
  -o-transition: $transition-property $transition-time $method
  transition: $transition-property $transition-time $method

//Font
@font-face
  font-family: 'icomoonMenu'
  src: url('fonts/icomoon-menu/icomoon.eot?-2xvybv')
  src: url('fonts/icomoon-menu/icomoon.eot?#iefix-2xvybv') format('embedded-opentype'), url('fonts/icomoon-menu/icomoon.woff?-2xvybv') format('woff'), url('fonts/icomoon-menu/icomoon.ttf?-2xvybv') format('truetype'), url('fonts/icomoon-menu/icomoon.svg?-2xvybv#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^='icon-moon-menu'],[class*='icon-moon-menu']
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  &:before
    font-family: 'icomoonMenu'
    color: #838383
// Main
.header-icons
  float: right
  hr
    width: 1px
    height: 19px
    background: #8b6262
    float: left
    margin: 1px 15px
    border: none
  img
    float: left
.share-upload
  float: left
  margin: 1px -5px 0 0
  &:focus, &:active
    text-decoration: none
    outline: none
    outline-offset: 0
  &:before
    content: '\e600'
    color: #fff
    font-size: 18px
.check-articles
  float: left
  margin: 3px 5px 0 0
  &:focus, &:active
    text-decoration: none
    outline: none
    outline-offset: 0
  &:before
    content: '\e635'
    font-family: 'icomoon'
    color: #fff
    font-size: 11px
    position: relative
    top: -2px
    left: -2px
    margin-left: 2px
  &.check-all
    &:before
      content: '\e601'
      font-family: 'icomoon'
      font-size: 15px
      margin-left: -2px
      position: relative
      top: 0px
      left: 1px
.gazprom-icon
  float: left
.content
  position: relative
.share-dropdown
  +border-radius(8px)
  +box-shadow(0, 0, 13px, rgba(0,0,0,.4))
  width: 255px
  background: #fff
  position: absolute
  right: 46px
  top: 37px
  z-index: 99
  &:after
    bottom: 100%
    right: 25px
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-bottom-color: #fff
    border-width: 15px
  li
    +transition(all,.3s,ease)
    margin: 0 3px
    border-bottom: 3px solid #e8e8e8
    height: 48px
    padding-left: 70px
    position: relative
    cursor: pointer
    font: 15.45px/48px "a_avantebsregular"
    &:hover
      color: #838383
    &:last-child
      border-bottom: none
    &:before
      position: absolute
      left: 22px
      top: 0
    &.icon-mail
      &:before
        content: '\e615'
        font-family: 'icomoon'
        font-size: 20px
    &.icon-eng
      &:before
        font-family: 'icomoon'
        content: '\e603'
        font-size: 24px
    &.icon-link
      &:before
        font-family: 'icomoon'
        content: '\e614'
        font-size: 22px
    &.icon-print
      &:before
        font-family: 'icomoon'
        content: '\e61a'
        font-size: 21px