@charset "UTF-8";
@font-face {
  font-family: "icomoonMenu";
  src: url("fonts/icomoon-menu/icomoon.eot?-2xvybv");
  src: url("fonts/icomoon-menu/icomoon.eot?#iefix-2xvybv") format("embedded-opentype"), url("fonts/icomoon-menu/icomoon.woff?-2xvybv") format("woff"), url("fonts/icomoon-menu/icomoon.ttf?-2xvybv") format("truetype"), url("fonts/icomoon-menu/icomoon.svg?-2xvybv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^='icon-moon-menu'], [class*='icon-moon-menu'] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  [class^='icon-moon-menu']:before, [class*='icon-moon-menu']:before {
    font-family: "icomoonMenu";
    color: #838383; }

.header-icons {
  float: right; }
  .header-icons hr {
    width: 1px;
    height: 19px;
    background: #8b6262;
    float: left;
    margin: 1px 15px;
    border: none; }
  .header-icons img {
    float: left; }

.share-upload {
  float: left;
  margin: 1px -5px 0 0; }
  .share-upload:focus, .share-upload:active {
    text-decoration: none;
    outline: none;
    outline-offset: 0; }
  .share-upload:before {
    content: "";
    color: #fff;
    font-size: 18px; }

.check-articles {
  float: left;
  margin: 3px 5px 0 0; }
  .check-articles:focus, .check-articles:active {
    text-decoration: none;
    outline: none;
    outline-offset: 0; }
  .check-articles:before {
    content: "";
    font-family: "icomoon";
    color: #fff;
    font-size: 11px;
    position: relative;
    top: -2px;
    left: -2px;
    margin-left: 2px; }
  .check-articles.check-all:before {
    content: "";
    font-family: "icomoon";
    font-size: 15px;
    margin-left: -2px;
    position: relative;
    top: 0px;
    left: 1px; }

.gazprom-icon {
  float: left; }

.content {
  position: relative; }

.share-dropdown {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
  width: 255px;
  background: #fff;
  position: absolute;
  right: 46px;
  top: 37px;
  z-index: 99; }
  .share-dropdown:after {
    bottom: 100%;
    right: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 15px; }
  .share-dropdown li {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0 3px;
    border-bottom: 3px solid #e8e8e8;
    height: 48px;
    padding-left: 70px;
    position: relative;
    cursor: pointer;
    font: 15.45px/48px "a_avantebsregular"; }
    .share-dropdown li:hover {
      color: #838383; }
    .share-dropdown li:last-child {
      border-bottom: none; }
    .share-dropdown li:before {
      position: absolute;
      left: 22px;
      top: 0; }
    .share-dropdown li.icon-mail:before {
      content: "";
      font-family: "icomoon";
      font-size: 20px; }
    .share-dropdown li.icon-eng:before {
      font-family: "icomoon";
      content: "";
      font-size: 24px; }
    .share-dropdown li.icon-link:before {
      font-family: "icomoon";
      content: "";
      font-size: 22px; }
    .share-dropdown li.icon-print:before {
      font-family: "icomoon";
      content: "";
      font-size: 21px; }

/*# sourceMappingURL=julianka.css.map */
