<div class="container">
<header class="header">
	<div class="content">
		<a href="javascript:void(0);" onclick="window.location.href = '/vympelkom/'" class="logo icon-moon"></a>
		<div class="search-form icon-moon">
			<form action=".">
				<input type="text">
				<button>&nbsp;</button>
			</form>
		</div>
	</div>
</header>
<div class="under-header schedule-top">
	<div class="wrap">
		<div class="content">
			<p class="title">Еженедельный дешборд</p>
		</div>
	</div>
</div>
<div class="main-content schedule">
<div class="content">
<div class="news">
<section class="clear">
	<div class="chart">
		<div class="top">
			<div class="check-box check-box_tick">
				<input id="select-1" type="checkbox" name="select-1" ng-model="filterItems.globalMedia">
				<label class="icon-moon" for="select-1" ng-click="hideAllFilters(0)"></label>
			</div>
			<p ng-click="updateChart()">Number of Articles Dynamics</p>
		</div>
		<div class="chart-block" id="chart"></div>
		<div class="block-chart-filters custom-filters" ng-show="filterItems.globalMedia" ng-init="collapsePeriod1=true;collapseRegion1=true;collapseTone1=true;collapseObject1=true;">
			<div class="f-row">
				<a href class="text-title" ng-click="collapsePeriod1=!collapsePeriod1">Период</a>
				<div class="group-check-radio" collapse="collapsePeriod1">
					<div class="select-all">
						<input type="checkbox" id="sl-all-1-month" ng-model="filterItems.globalMediaAll1" ng-click="selectAllFilters('globalMediaAll1', 'daysFilters1', 1)">
						<label for="sl-all-1-month">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in daysFilters1">
						<input type="checkbox" id="sl-1-month-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('daysFilters', 1)">
						<label for="sl-1-month-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseRegion1=!collapseRegion1">Регионы</a>
				<div class="group-check-radio" collapse="collapseRegion1">
					<div class="select-all">
						<input type="checkbox" id="sl-all-1-region" ng-model="filterItems.globalMediaAll2" ng-click="selectAllFilters('globalMediaAll2', 'regionFilters1', 1)">
						<label for="sl-all-1-region">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in regionFilters1">
						<input type="checkbox" id="sl-1-region-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('regionFilters', 1)">
						<label for="sl-1-region-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseTone1=!collapseTone1">Тональность</a>
				<div class="group-check-radio" collapse="collapseTone1">
					<div class="select-all">
						<input type="checkbox" id="sl-all-1-tone" ng-model="filterItems.globalMediaAll3" ng-click="selectAllFilters('globalMediaAll3', 'toneFilters1', 1)">
						<label for="sl-all-1-tone">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in toneFilters1">
						<input type="checkbox" id="sl-1-tone-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('toneFilters', 1)">
						<label for="sl-1-tone-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseObject1=!collapseObject1">Объекты</a>
				<div class="group-check-radio" collapse="collapseObject1">
					<div class="select-all">
						<input type="checkbox" id="sl-all-1-object" ng-model="filterItems.globalMediaAll4" ng-click="selectAllFilters('globalMediaAll4', 'objectFilters1', 1)">
						<label for="sl-all-1-object">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in objectFilters1">
						<input type="checkbox" id="sl-1-object-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('objectFilters', 1)">
						<label for="sl-1-object-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="chart">
		<div class="top">
			<div class="check-box check-box_tick">
				<input id="select-2" type="checkbox" name="select-2" ng-model="filterItems.impactIndex">
				<label class="icon-moon" for="select-2" ng-click="hideAllFilters(1)"></label>
			</div>
			<p>PRt Dynamics</p>
		</div>
		<div class="chart-block" id="chart2"></div>
		<div class="block-chart-filters custom-filters right" ng-show="filterItems.impactIndex" ng-init="collapsePeriod2=true;collapseRegion2=true;collapseTone2=true;collapseObject2=true;">
			<div class="f-row">
				<a href class="text-title" ng-click="collapsePeriod2=!collapsePeriod2">Период</a>
				<div class="group-check-radio" collapse="collapsePeriod2">
					<div class="select-all">
						<input type="checkbox" id="sl-all-2-month" ng-model="filterItems.impactIndexAll1" ng-click="selectAllFilters('impactIndexAll1', 'daysFilters2', 2)">
						<label for="sl-all-2-month">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in daysFilters2">
						<input type="checkbox" id="sl-2-month-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('daysFilters', 2)">
						<label for="sl-2-month-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseRegion2=!collapseRegion2">Регионы</a>
				<div class="group-check-radio" collapse="collapseRegion2">
					<div class="select-all">
						<input type="checkbox" id="sl-all-2-region" ng-model="filterItems.impactIndexAll2" ng-click="selectAllFilters('impactIndexAll2', 'regionFilters2', 2)">
						<label for="sl-all-2-region">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in regionFilters2">
						<input type="checkbox" id="sl-2-region-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('regionFilters', 2)">
						<label for="sl-2-region-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseObject2=!collapseObject2">Объекты</a>
				<div class="group-check-radio" collapse="collapseObject2">
					<div class="select-all">
						<input type="checkbox" id="sl-all-2-object" ng-model="filterItems.impactIndexAll3" ng-click="selectAllFilters('impactIndexAll3', 'objectFilters2', 2)">
						<label for="sl-all-2-object">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in objectFilters2">
						<input type="checkbox" id="sl-2-object-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('objectFilters', 2)">
						<label for="sl-2-object-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="chart">
		<div class="top">
			<div class="check-box check-box_tick">
				<input id="select-3" type="checkbox" name="select-3" ng-model="filterItems.outbreak">
				<label class="icon-moon" for="select-3" ng-click="hideAllFilters(2)"></label>
			</div>
			<p>Geographical Breakdown</p>
		</div>
		<div class="chart-block"  id="chart3"></div>
		<div class="block-chart-filters custom-filters" ng-show="filterItems.outbreak" ng-init="collapsePeriod3=true;collapseRegion3=true;collapseTone3=true;collapseObject3=true;">
			<div class="f-row">
				<a href class="text-title" ng-click="collapseRegion3=!collapseRegion3">Регионы</a>
				<div class="group-check-radio" collapse="collapseRegion3">
					<div class="select-all">
						<input type="checkbox" id="sl-all-3-month" ng-model="filterItems.outbreakAll1" ng-click="selectAllFilters('outbreakAll1', 'regionFilters3', 3)">
						<label for="sl-all-3-month">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in regionFilters3">
						<input type="checkbox" id="sl-3-region-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('regionFilters', 3)">
						<label for="sl-3-region-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseTone3=!collapseTone3">Тональность</a>
				<div class="group-check-radio" collapse="collapseTone3">
					<div class="select-all">
						<input type="checkbox" id="sl-all-3-tone" ng-model="filterItems.outbreakAll2" ng-click="selectAllFilters('outbreakAll2', 'toneFilters3', 3)">
						<label for="sl-all-3-tone">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in toneFilters3">
						<input type="checkbox" id="sl-3-tone-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('toneFilters', 3)">
						<label for="sl-3-tone-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseObject3=!collapseObject3">Объекты</a>
				<div class="group-check-radio" collapse="collapseObject3">
					<div class="select-all">
						<input type="checkbox" id="sl-all-3-object" ng-model="filterItems.outbreakAll3" ng-click="selectAllFilters('outbreakAll3', 'objectFilters3', 3)">
						<label for="sl-all-3-object">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in objectFilters3">
						<input type="checkbox" id="sl-3-object-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('objectFilters', 3)">
						<label for="sl-3-object-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="chart">
		<div class="top">
			<div class="check-box check-box_tick">
				<input id="select-4" type="checkbox" name="select-4" ng-model="filterItems.tonality">
				<label class="icon-moon" for="select-4" ng-click="hideAllFilters(3)"></label>
			</div>
			<p>Tone</p>
		</div>
		<div class="chart-block" id="chart4"></div>
		<div class="block-chart-filters custom-filters right" ng-show="filterItems.tonality" ng-init="collapsePeriod4=true;collapseRegion4=true;collapseTone4=true;collapseObject4=true;">
			<div class="f-row">
				<a href class="text-title" ng-click="collapseRegion4=!collapseRegion4">Регионы</a>
				<div class="group-check-radio" collapse="collapseRegion4">
					<div class="select-all">
						<input type="checkbox" id="sl-all-4-region" ng-model="filterItems.tonalityAll1" ng-click="selectAllFilters('tonalityAll1', 'regionFilters4', 4)">
						<label for="sl-all-4-region">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in regionFilters4">
						<input type="checkbox" id="sl-4-region-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('regionFilters', 4)">
						<label for="sl-4-region-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseObject4=!collapseObject4">Объекты</a>
				<div class="group-check-radio" collapse="collapseObject4">
					<div class="wrap-row" ng-repeat="filter in objectFilters4">
						<input type="radio" id="sl-4-object-{$ $index $}" ng-model="$parent.objectFilters4Model" ng-value="filter.id" ng-change="reRenderChart('objectFilters', 4, $parent.objectFilters4Model)">
						<label for="sl-4-object-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="clear">
	<div class="chart">
		<div class="top">
			<div class="check-box check-box_tick">
				<input id="select-5" type="checkbox" name="select-5" ng-model="filterItems.listsForMedia">
				<label class="icon-moon" for="select-5" ng-click="hideAllFilters(4)"></label>
			</div>
			<p>Media Type</p>
		</div>
		<div class="chart-block" id="chart5"></div>
		<div class="block-chart-filters custom-filters" ng-show="filterItems.listsForMedia" ng-init="collapsePeriod5=true;collapseRegion5=true;collapseTone5=true;collapseObject5=true;">
			<div class="f-row">
				<a href class="text-title" ng-click="collapsePeriod5=!collapsePeriod5">Период</a>
				<div class="group-check-radio" collapse="collapsePeriod5">
					<div class="select-all">
						<input type="checkbox" id="sl-all-5-month" ng-model="filterItems.listsForMediaAll1" ng-click="selectAllFilters('listsForMediaAll1', 'daysFilters5', 5)">
						<label for="sl-all-5-month">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in daysFilters5">
						<input type="checkbox" id="sl-5-month-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('daysFilters', 5)">
						<label for="sl-5-month-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseRegion5=!collapseRegion5">Регионы</a>
				<div class="group-check-radio" collapse="collapseRegion5">
					<div class="select-all">
						<input type="checkbox" id="sl-all-5-region" ng-model="filterItems.listsForMediaAll2" ng-click="selectAllFilters('listsForMediaAll2', 'regionFilters5', 5)">
						<label for="sl-all-5-region">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in regionFilters5">
						<input type="checkbox" id="sl-5-region-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('regionFilters', 5)">
						<label for="sl-5-region-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseObject5=!collapseObject5">Объекты</a>
				<div class="group-check-radio" collapse="collapseObject5">
					<div class="wrap-row" ng-repeat="filter in objectFilters5">
						<input type="radio" id="sl-5-object-{$ $index $}" ng-model="$parent.objectFilters5Model" ng-value="filter.id" ng-change="reRenderChart('objectFilters', 5, $parent.objectFilters5Model)">
						<label for="sl-5-object-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="chart">
		<div class="top">
			<div class="check-box check-box_tick">
				<input id="select-6" type="checkbox" name="select-6" ng-model="filterItems.top5MediaPresence">
				<label class="icon-moon" for="select-6" ng-click="hideAllFilters(5)"></label>
			</div>
			<p>TOP 5 Affiliates</p>
		</div>
		<div class="chart-block" id="chart6"></div>
		<div class="block-chart-filters custom-filters right" ng-show="filterItems.top5MediaPresence" ng-init="
										collapsePeriod6=true;
										collapseRegion6=true;
										collapseTone6=true;">
			<div class="f-row">
				<a href class="text-title" ng-click="collapsePeriod6=!collapsePeriod6">Период</a>
				<div class="group-check-radio" collapse="collapsePeriod6">
					<div class="select-all">
						<input type="checkbox" id="sl-all-6-month" ng-model="filterItems.top5MediaPresenceAll1" ng-click="selectAllFilters('top5MediaPresenceAll1', 'daysFilters6', 6)">
						<label for="sl-all-6-month">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in daysFilters6">
						<input type="checkbox" id="sl-6-month-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('daysFilters', 6)">
						<label for="sl-6-month-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseRegion6=!collapseRegion6">Регионы</a>
				<div class="group-check-radio" collapse="collapseRegion6">
					<div class="select-all">
						<input type="checkbox" id="sl-all-6-region" ng-model="filterItems.top5MediaPresenceAll2" ng-click="selectAllFilters('top5MediaPresenceAll2', 'regionFilters6', 6)">
						<label for="sl-all-6-region">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in regionFilters6">
						<input type="checkbox" id="sl-6-region-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('regionFilters', 6)">
						<label for="sl-6-region-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="chart">
		<div class="top">
			<div class="check-box check-box_tick">
				<input id="select-7" type="checkbox" name="select-7" ng-model="filterItems.top5LabSpeakers">
				<label class="icon-moon" for="select-7" ng-click="hideAllFilters(6)"></label>
			</div>
			<p>TOP 5 Media</p>
		</div>
		<div class="chart-block" id="chart7"></div>
		<div class="block-chart-filters custom-filters" ng-show="filterItems.top5LabSpeakers" ng-init="collapsePeriod7=true;collapseRegion7=true;collapseTone7=true;collapseObject7=true;">
			<div class="f-row">
				<a href class="text-title" ng-click="collapsePeriod7=!collapsePeriod7">Период</a>
				<div class="group-check-radio" collapse="collapsePeriod7">
					<div class="select-all">
						<input type="checkbox" id="sl-all-7-month" ng-model="filterItems.top5LabSpeakersAll1" ng-click="selectAllFilters('top5LabSpeakersAll1', 'daysFilters7', 7)">
						<label for="sl-all-7-month">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in daysFilters7">
						<input type="checkbox" id="sl-7-month-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('daysFilters', 7)">
						<label for="sl-7-month-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseRegion7=!collapseRegion7">Регионы</a>
				<div class="group-check-radio" collapse="collapseRegion7">
					<div class="select-all">
						<input type="checkbox" id="sl-all-7-region" ng-model="filterItems.top5LabSpeakersAll2" ng-click="selectAllFilters('top5LabSpeakersAll2', 'regionFilters7', 7)">
						<label for="sl-all-7-region">&nbsp;</label>
					</div>
					<div class="wrap-row" ng-repeat="filter in regionFilters7">
						<input type="checkbox" id="sl-7-region-{$ $index $}" ng-model="filter.Selected" ng-change="reRenderChart('regionFilters', 7)">
						<label for="sl-7-region-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
			<div class="f-row">
				<a href class="text-title" ng-click="collapseObject7=!collapseObject7">Объекты</a>
				<div class="group-check-radio" collapse="collapseObject7">
					<div class="wrap-row" ng-repeat="filter in objectFilters7">
						<input type="radio" id="sl-7-object-{$ $index $}" ng-model="$parent.objectFilters7Model" ng-value="filter.id" ng-change="reRenderChart('objectFilters', 7, $parent.objectFilters7Model)">
						<label for="sl-7-object-{$ $index $}">{$ filter.title $}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="chart text">
		<div class="top">
			<p>Еженедельный дешборд</p>
			<span>По итогам недели стоит отметить высокое качество материалов Центрального и Северо-Западного регионов. Тем временем региональные интернет-источники по-прежнему генерируют значительное число упоминаний операторов «большой тройки».</span>
		</div>
	</div>
</section>
</div>
</div>
</div>
</div>
<div class="feedback">
	<ul>
		<li><a href="#">Обратная связь</a></li>
		<li><a href="#">Что-то не работает</a></li>
		<li><a href="#">Общий отзыв</a></li>
		<li><a href="#">Отмена</a></li>
	</ul>
</div>