<!DOCTYPE html>
<html ng-app="exlibris">
<head>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular.min.js"></script>
	{#<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-locale_ru-by.js"></script>#}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-cookies.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-route.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-animate.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css">
	{#<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dependencies/jquery.mousewheel.js"></script>#}
	{#<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dependencies/perfect-scrollbar.js"></script>#}
	{#<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-perfect-scrollbar.js"></script>#}
	{#<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/rzslider.js?v=1.0"></script>#}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/fusioncharts.js"></script>
	{#<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/fusioncharts.charts.js"></script>#}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/analytic-fusionchart/analytic.js"></script>
</head>
<body>
	<div ng-view></div>
</body>
</html>