<div class="dialogs modal-dialog" title="Basic dialog">
    <div class="modal-header">
        <h3 class="modal-title"><p class="icon-moon icon-rename"></p> <span ng-bind-html="confirmModalBox.title"></span>
        </h3>
    </div>
    <div class="modal-body"><span ng-bind-html="confirmModalBox.question"></span>

        <form action="" class="yes-no">
            <button type="button" class="no-no grey-btn" ng-click="cancelModal()">назад</button>
            <button type="button" class="yes-yes orange-btn" ng-click="confirmModal()">да</button>
            <div class="no-mores"><input type="checkbox" id="no-more"/> <label for="no-more">Больше
                не показывать</label></div>
        </form>
    </div>
</div>