<div class="wrapper-modal" ng-init="init()">
    <div class="fix-div" ng-click="closeProfile()"></div>
    <div class="content-modal clear" ng-controller="PersonalTabs">
        <div class="left-siderbar">
            <nav>
                <ul>
                    <li><a href="#" class="login icon-moon-profile" ng-class="{active:isActiveTab('profile.html')}"
                           ng-click="onClickTab('profile.html')">{$ user.first_name $} {$ user.last_name $}</a></li>
                    <li><a href="#" class="feedback-menu icon-moon-profile" ng-class="{active:isActiveTab('feedBack.html')}"
                           ng-click="onClickTab('feedBack.html')">Обратная связь</a></li>
                    <li><a href="#" class="help-enter icon-moon-profile" ng-class="{active:isActiveTab('helpCenter.html')}"
                           ng-click="onClickTab('helpCenter.html')">Справочный центр</a></li>
                    {% if request.user.is_superuser %}
                        <li><a href="/admin/" target="_blank" class="mode-tips icon-moon-profile">Панель администрирования</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="main-inform">
            <div ng-include="currentProfileTab" class="hei100"></div>
            <script type="text/ng-template" id="profile.html">
                <div class="tabs-profile">
                    <div class="people-inform clear">
                        <div class="avatar" ng-controller="fileCtrl">
                            <img ng-src="{$ user.photo $}" alt=""/>
                            <div class="new-photo" ng-click="$root.openModal('newPhoto.html')">
                                <p>Загрузить <br/>новую фотографию</p>
                            </div>
                        </div>
                        <div class="name-people">
                            <p class="names">{$ user.first_name $} {$ user.last_name $}</p>
                            <p class="company"><img src="{$ company.icon $}" alt=""/> <span>{$ company.title $}</span></p>
                        </div>
                    </div>
                    <div ng-controller="TabsCtrl">
                        <tabset>
                            <tab heading="Персональные данные">
                                <form action="." method="post" ng-controller="sentInput">
                                    <p class="title-personal icon-moon-profile">Персональные данные</p>

                                    <div class="form-block">
                                        <label for="name">Имя:</label>
                                        <input id="name" type="text" ng-model="user.first_name" my-focus="focus"
                                               my-blur="doneEditing1()"/>
                                    </div>
                                    <div class="form-block">
                                        <label for="surname">Фамилия:</label>
                                        <input id="surname" type="text" ng-model="user.last_name" my-focus="focus"
                                               my-blur="doneEditing1()"/>
                                    </div>
                                    <div class="form-block">
                                        <label for="" >Должность:</label>
                                        <p class="profile-fields">{$ user.position $}</p>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Подразделение:</label>

                                        <p class="profile-fields">{$ user.department.title $}</p>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Права в системе:</label>

                                        <p>{$ user.group.name $}</p>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Логин:</label>

                                        <p>{$ user.username $}</p>
                                    </div>
                                    <div class="form-block" ng-controller="oldNewPass">
                                        <div ng-class="{'active': newPass}" class="old-pass div">
                                            <label for="password1">Пароль:</label>
                                            <input id="password1" type="{$ !showPass && 'password' || 'text' $}" name="password1"
                                                   ng-click="newPass = true" ng-model="password1" my-focus="focus"
                                                   my-blur="doneEditing1()" required/>
                                            <i class="icon-moon-profile seePass" ng-click="showPass = !showPass"
                                               ng-class="{'seePassAll': showPass}"></i>
                                            <span class="del-right js-del" ng-click="delPass('true')">x</span>
                                        </div>
                                        <div class="new-pass" ng-show="newPass">
                                            <label for="password2">Повторный ввод пароля:</label>
                                            <input id="password2" type="password" ng-class="class" name="password2"
                                                   ng-model="password2" my-focus="focus" my-blur="doneEditing2()" required/>
                                        </div>
                                    </div>
                                    <p class="title-contact icon-moon-profile">Контакты</p>

                                    <div class="form-block">
                                        <label for="">E-mail:</label>
                                        <a href="mailto:{$ user.email $}">{$ user.email $}</a>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Телефон:</label>

                                        <p>{$ user.phone $} </p>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Skype:</label>
                                        <a href="callto:{{ user.skype }}" class="skype-link icon-moon-profile">{$ user.skype $}</a>
                                    </div>
                                </form>
                                <div class="wrapp-social">
                                    <p class="title-social icon-moon-profile">Профили в социальных сетях</p>

                                    <div>
                                        <div class="form-block">
                                            <div ng-repeat="elem in social_list" class="focus-green"
                                                 ng-class="{ 'active': $index == socialActive}"
                                                 ng-hide="show{$ elem.id $}"
                                                 ng-click="socialAdd($index)">
                                                <label for="">{$ elem.title $}:</label>
                                                <a href="{$ elem.link $}" class="green-text" target="_blank">{$ elem.link $}</a>
                                                <span class="del-right" ng-click="delSocial(elem.id)">x</span>
                                            </div>
                                        </div>

                                        <div class="form-block">
                                            <span class="icon-moon plusSocial" ng-click="newSocial = !newSocial"></span>
                                        </div>
                                        <div class="new-social" ng-show="newSocial">
                                            <input id="titleSocial" name="titleSocial" type="text" ng-model="titleSocial"
                                                   my-focus="focus" ng-blur="doAddSocial()" required/>
                                            <input id="nameSocial" name="nameSocial" type="text" ng-model="nameSocial"
                                                   my-focus="focus" ng-blur="doAddSocial()" required/>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Компания">
                                <form action="">
                                    <p class="title-company icon-moon-profile">Данные о компании</p>

                                    <div class="form-block">
                                        <label for="name">Компания:</label>

                                        <p>{$ company.title $}</p>
                                    </div>
                                    <div class="form-block">
                                        <label for="name">Город:</label>
                                        <p>{$ company.city $}</p>
                                    </div>
                                    <div class="form-block">
                                        <label for="name">Сайт:</label>
                                        <a href="http://{$ company.site $}" target="_blank">{$ company.site $}</a>
                                    </div>
                                    <div class="form-block">
                                        <label for="name">Социальные сети:</label>
                                        <a href="http://{$ company.social $}" target="_blank">{$ company.social $}</a>
                                    </div>
                                    <p class="title-company-table icon-moon-profile">Данные о пользователях системы в компании</p>

                                    <div class="table-company">
                                        <div class="row-header clear">
                                            <div>
                                                <p>Подразделение</p>
                                            </div>
                                            <div>
                                                <p>Количество пользователей</p>
                                            </div>
                                        </div>
                                        <div class="row-table clear" ng-repeat="department in departments_list">
                                            <div><p>{$ department.title $}</p></div>
                                            <div><span>{$ department.num_users $}</span></div>
                                        </div>
                                    </div>
                                </form>
                            </tab>
                            <tab heading="Сотрудники">
                                <form action="">
                                    <p class="title-people-table icon-moon-profile">Данные о сотрудниках</p>

                                    <div class="table-company-people">
                                        <div class="row-header clear">
                                            <div>
                                                <p>Сотрудник</p>
                                            </div>
                                            <div>
                                                <p>Права</p>
                                            </div>
                                            <div>
                                                <p>Подразделение</p>
                                            </div>
                                            <div>
                                                <p>E-mail</p>
                                            </div>
                                            <div></div>
                                        </div>

                                        <div class="row-table clear green-border" ng-repeat="u in company.users">
                                            <div><p>{$ u.first_name $} {$ u.last_name $}</p></div>
                                            <div class="select-wrap drop-select">
                                                <p class="icon-moon small-paragraf" ng-click="showList = !showList"
                                                   ng-class="{'actives' : showList}">{$ u.group.name $}</p>
                                                <ul class="js-list-drop"  ng-click="showList = !showList" ng-show="showList" ng-if="permissions.can_change_all_profile">
                                                    <li ng-repeat="g in groups_list"
                                                        ng-click="changeAttr(u, 'group', g)">{$ g.name $}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="select-wrap drop-select drop-select-long">
                                                <p class="icon-moon" ng-click="showListBig = !showListBig"
                                                   ng-class="{'actives' : showListBig}"> {$ u.department.title $}</p>
                                                <ul class="js-list-drop" ng-click="showListBig = !showListBig" ng-show="showListBig" ng-if="permissions.can_change_all_profile">
                                                    <li ng-repeat="department in departments_list"
                                                        ng-click="changeAttr(u, 'department', department)">
                                                        {$ department.title $}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div><a href="mailto:{$ u.email $}" class="email-table">{$ u.email $}</a></div>
                                            <div ng-if="permissions.can_change_all_profile"><p class="del-people"
                                                    ng-click="$root.openModaluserId('delPeople.html', company, u)">x</p>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </tab>
                        </tabset>
                    </div>

                </div>
            </script>
            <script type="text/ng-template" id="feedBack.html">
                <div class="feedBack-head">
                    <p><span class="icon-moon feedB"></span>Обратная связь</p>
                </div>
                <form action="" ng-controller="sendFeedback" class="feed-textarea"><!-- ng-submit="submit()" -->
                    <textarea name="" id="" ng-model="feedback_text"></textarea>
                    <button class="orange-btn" ng-click="closeProfile()">Отправить</button>
                </form>
            </script>
            <script type="text/ng-template" id="helpCenter.html">
                <div class="tab-helper hei100" ng-controller="directoryCenter">
                    <div class="feedBack-head">
                        <p><span class="icon-moon spravka"></span>Справочный центр</p>
                    </div>
                    <div class="dynamic-breadcrumbs breadcrumbs-profile">

                        <p class="dynamic-breadcrumbs" dynamic-breadcrumbs-new></p>
                    </div>
                    <perfect-scrollbar scrolls class="scroll-help" first-category="first_category_list" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">


                        <div class="anchor">
                            <p>Переход к разделу:</p>
                            <ul>
                                <li ng-repeat="category in directory_date"><a href="#category-{$ category.id $}">{$ category.title $}</a></li>

                            </ul>
                        </div>
                        <div class="some-article" ng-repeat="category in directory_date">
                            <a class="title-help-category" id="{$ category.id $}" name="category-{$ category.id$}" id="{$ cat.id $}"
                               category-direct>{$ category.title $}</a>

                            <div ng-bind-html="category.text"></div>
                            <div class="about-article">
                                <p>Оглавление:</p>
                                <ul>
                                    <li ng-repeat="cat in category.children"><a href="#cat-{$ cat.id $}">&#8250; {$ cat.title $}</a>
                                    </li>

                                </ul>
                            </div>
                            <div ng-repeat="cat in category.children">
                                <p class="contents"><a name="cat-{$ cat.id $}" id="{$ cat.id $}" category-direct>{$ cat.title $}</a></p>

                                <div ng-bind-html="cat.text"></div>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </script>
            <script type="text/ng-template" id="modeTips.html">
                <div class="tab-hint">
                    <p>hint</p>
                </div>
            </script>
        </div>
    </div>
</div>

<script type="text/ng-template" id="newPhoto.html">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon-profile icon-upload"></p>
            <span>Загрузка новой фотографии</span>
        </h3>
    </div>
    <div class="modal-body" ng-controller="fileCtrl" >
        <form action="/profile/change-photo/11/" method="post"  class="add-photo">
            <label for="photo">Обзор файлов</label>
            <input type="file" id="photo" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
        </form>
    </div>
</script>

<script type="text/ng-template" id="delPeople.html">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon-profile icon-del"></p>
            <span>Точно хотите удалить?</span>
        </h3>
    </div>
    <div class="modal-body">
        <form action="" class="add-photo">
            <button class="delPeople" ng-click="deleteUser()">Удалить</button>
        </form>

    </div>
</script>