// reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
	display: block
body
	line-height: 1
ol, ul
	list-style: none
blockquote, q
	quotes: none
blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none
table
	border-collapse: collapse
	border-spacing: 0
a
	text-decoration: none
	&:hover
		text-decoration: none
.hovered
	text-decoration: underline
.clear
	&:after, &:before
		clear: both
		display: block
		zoom: 1
		content: ''
*
	padding: 0
	margin: 0
	border: 0
	outline: none
// end of reset
// fonts
@font-face
	font-family: 'a_avantebsregular'
	src: url('fonts/aavantebs-webfont/aavantebs.eot')
	src: url('fonts/aavantebs-webfont/aavantebs.eot?#iefix') format('embedded-opentype'), url('fonts/aavantebs-webfont/aavantebs.woff') format('woff'), url('fonts/aavantebs-webfont/aavantebs.ttf') format('truetype')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'myriadpro-regular'
	src: url('fonts/myriadpro-regular/myriadpro-regular.eot')
	src: url('fonts/myriadpro-regular/myriadpro-regular.eot?#iefix') format('embedded-opentype'), url('fonts/myriadpro-regular/myriadpro-regular.woff') format('woff'), url('fonts/myriadpro-regular/myriadpro-regular.ttf') format('truetype'), url('fonts/myriadpro-regular/myriadpro-regular.svg#myriadpro-regular') format('svg')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'icomoon'
	src: url('fonts/icomoon/icomoon.eot?ksozjj')
	src: url('fonts/icomoon/icomoon.eot?#iefixksozjj') format('embedded-opentype'), url('fonts/icomoon/icomoon.woff?ksozjj') format('woff'), url('fonts/icomoon/icomoon.ttf?ksozjj') format('truetype'), url('fonts/icomoon/icomoon.svg?ksozjj#icomoon') format('svg')
	font-weight: normal
	font-style: normal
[class^='icon-moon'],[class*='icon-moon']
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	&:before
		color: #555
.icon-moon-uniE600:before
	content: "\e600"
	font-size: 17px
.icon-moon-svg:before
	content: "\e602"
	font-size: 17px
.icon-moon-uniE601:before
	content: "\e601"
	font-size: 24px
p, span, a, input, h2
	font-family: 'a_avantebsregular', arial
// Variables
$dark-red-color: #5D0000
$smooth-pink-color: #AE8080
$sprite-path: "images/sprite.png"
// Mixins
=icons($left, $top, $width, $height, $pos-x, $pos-y)
	content: ''
	position: absolute
	top: $top
	left: $left
	width: $width
	height: $height
	background: url($sprite-path) $pos-x $pos-y
=border-radius($radius)
	border-radius: $radius
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-o-border-radius: $radius
=floated-relative($float)
	position: relative
	float: $float
=size($width, $height)
	width: $width
	height: $height
=font-size-line-height($font-size, $line-height)
	font-size: $font-size
	line-height: $line-height
=background-size($x, $y)
	background-size: $x, $y
	-webkit-background-size: $x, $y
	-moz-background-size: $x, $y
	-o-background-size: $x, $y
// Extend/Inheritance
.inline-block-relative
	display: inline-block
	position: relative
// footer bottom
html, body, .container
	height: 100%
	width: 100%
	padding: 0
body
	.container
		height: auto
		min-height: 100%
		background: url(images/background.png)
.footer
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	// clear: both
	// position: relative
	z-index: 10
	height: 38px
	margin-top: -38px
	background: $dark-red-color
	.wrap
		padding: 7px 39px 0 0
		a
			+floated-relative(right)
			margin-right: 38px
			&:first-child
				margin-right: 0
		.exit
			+size(18px, 22px)
			&:after
				+icons(0, 0, 100%, 100%, -96px, 0)
		.copy
			+size(15px, 20px)
			margin-top: 2px
			&:after
				+icons(0, 0, 100%, 100%, -81px, 0)
		.like
			margin-top: 1px
			+size(20px, 21px)
			&:after
				+icons(0, 0, 100%, 100%, -61px, 0)
		.check
			margin-top: 2px
			+size(22px, 20px)
			&:after
				+icons(0, 0, 100%, 100%, 0, -45px)
.wrap-content
	// padding-bottom: 38px
.content
	width: 960px
	margin: 0 auto
// end of footer bootom
// main
h2
	font-size: 25px
	margin-bottom: 12px
.header
	height: 30px
	background: $dark-red-color
	padding-top: 7px
	border-top: 1px solid #671617
	border-bottom: 1px solid #671617
	.btn-group
		float: left
	.menu-handle
		+size(22px, 22px)
		+floated-relative(left)
		margin: 0 26px 0 14px
		cursor: pointer
		background-color: transparent
		// background: url(images/header-left-menu-handle.png)
		img
			width: 100%
	.logo
		float: left
		margin: -21px 29px 0 0
		position: relative
		height: 52px
		overflow: hidden
		img
			height: 22px
		&:before
			content: "\e609"
			font-size: 70px
			color: #fff
	.profile-handle
		+size(36px, 22px)
		+floated-relative(right)
		margin: -6px 14px 0 22px
		&:before
			content: "\e608"
			font-size: 34px
			color: #fff
		// background: url(images/header-right-menu-handle.png)
		img
			width: 100%
	.settings-handle
		+size(27px, 27px)
		+floated-relative(right)
		&:before
			content: "\e60c"
			font-size: 27px
			color: #fff
		// background: url(images/header-cogwheel-1.png)
		top: -2px
		img
			width: 100%
	.search-form
		float: left
	.dropdown-menu
		margin: 8px 0 0 7px
		.back
			height: 52px
			background: #000
			position: relative
			&:after
				+icons(35px, 17px, 29px, 19px, -131px, -25px)
.wrap-header
	position: fixed
	left: 0
	width: 100%
	z-index: 3
.search-form
	+size(378px, 22px)
	+border-radius(10px)
	background: $smooth-pink-color
	overflow: hidden
	form
		height: 100%
	input
		+size(337px, 100%)
		background: transparent
		padding-left: 10px
		float: left
	button
		+size(28px, 100%)
		+floated-relative(left)
		background: transparent
		cursor: pointer
		&:before
			+icons(0, 0, 2px, 22px, -58px, 0)
		&:after
			// +icons(9px, 5px, 13px, 13px, -22px, -23px)
			content: "\e606"
			position: absolute
			left: 9px
			top: 5px
			font-size: 13px
			color: #fff
.under-header
	// background: url(images/background.png)
	.content
		position: relative
		.wrap
			margin: 0 7px
			padding: 5px 0 10px 0
			background: #F3F3F3
			min-height: 71px
	p
		font: 21px Arial
		padding-left: 41px
		width: 700px
		margin-top: 10px
		&>span
			color: #999999
			margin-right: 8px
			.count
				display: inline-block
				position: relative
				&:after
					content: ''
					position: absolute
					+size(97%, 3px)
					bottom: 0
					left: 3%
					background: #999999
	.datepicker
		position: absolute
		top: 10px
		right: 100px
.main-content
	background: url(images/background.png)
	padding-top: 169px
.datepicker
	input
		padding: 7px 5px 7px 30px
		font-size: 14px
		background-color: #ECECEC
		width: 85px
	.element
		position: relative
		margin-top: 5px
		&:after
			// +icons(6px, 6px, 17px, 18px, -114px, -25px)
			content: "\e605"
			font-size: 17px
			position: absolute
			top: 6px
			left: 6px
		&:first-child
			margin-top: 0
	.arrow
		position: absolute
		+size(10px, 22px)
		top: 50%
		margin-top: -11px
		&.prev
			left: -20px
			&:before
				content: "\e60a"
				font-size: 22px
				color: #E9E9E9
			// background: url($sprite-path) -139px 0 no-repeat
		&.next
			right: -8px
			&:before
				content: "\e60b"
				font-size: 22px
				color: #E9E9E9
			// background: url($sprite-path) -149px 0 no-repeat
.some-info
	p
		a
			float: left
	p
		span
			margin-left: 10px
			display: inline-block
			&.positive
				padding: 8px
				background: #99CC66
				border-radius: 8px
				margin: -8px 0 0 10px
				color: #000
.rupor
	a
		position: relative
		top: 3px
		+size(17px, 15px)
		&:before
			content: "\e607"
			font-size: 17px
		opacity: 0.3
		&.active
			opacity: 1
.dollar
	a
		position: relative
		top: -1px
		+size(11px, 21px)
		opacity: 0.3
		&:before
			content: "\e60e"
			font-size: 20px
			position: absolute
			left: -4px
		&.active
			opacity: 1
.prt
	a
		position: relative
		top: 2px
		+size(24px, 14px)
		opacity: 0.3
		&:before
			content: "\e60f"
			font-size: 24px
			position: absolute
			top: -3px
		&.active
			opacity: 1
			// background-position: -97px -43px
.desc-arrow
	+size(24px, 24px)
	// background: url(images/desk-arrow-3.png) 0 0
	&.open
		background-position: -24px 0
input[type="checkbox"], input[type="radio"]
	display: none
.news
	margin: 0 7px
	padding-bottom: 1px
	h2
		margin-left: 13px
	section
		background: #fff
		padding: 12px 31px
		margin-bottom: 14px
		border: 1px solid #F6F6F6
		box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.16)
		.wrap
			position: relative
			padding-top: 1px
			&:after
				margin: -12px -31px 0 0
			&.green.full
				&:after
					content: ''
					position: absolute
					top: -10px
					right: 7px
					+size(52px, 55px)
					background: url(images/flags.png) 0 -52px
			&.red.full
				&:after
					content: ''
					position: absolute
					top: -11px
					right: 7px
					+size(52px, 55px)
					background: url(images/flags.png) 0 -107px
			&.full.grey
				&:after
					content: ''
					position: absolute
					top: -11px
					right: 11px
					+size(48px, 52px)
					background: url(images/flags.png) -49px 0
			&.transparent
				&:after
					content: ''
					position: absolute
					top: -10px
					right: 11px
					+size(49px, 50px)
					background: url(images/flags.png) 0 0
			&.red.third
				&:after
					content: ''
					position: absolute
					top: -11px
					right: 11px
					+size(48px, 51px)
					background: url(images/flags.png) -100px -107px
			&.red.half
				&:after
					content: ''
					position: absolute
					top: -11px
					right: 11px
					+size(48px, 51px)
					background: url(images/flags.png) -52px -107px
			&.green.third
				&:after
					content: ''
					position: absolute
					top: -11px
					right: 11px
					+size(48px, 51px)
					background: url(images/flags.png) -100px -52px
			&.green.half
				&:after
					content: ''
					position: absolute
					top: -11px
					right: 11px
					+size(48px, 51px)
					background: url(images/flags.png) -52px -52px
			&.grey.third
				&:after
					content: ''
					position: absolute
					top: -11px
					right: 11px
					+size(48px, 52px)
					background: url(images/flags.png) -145px 0
			&.grey.half
				&:after
					content: ''
					position: absolute
					top: -11px
					right: 11px
					+size(48px, 52px)
					background: url(images/flags.png) -97px 0
		.top
			margin-bottom: 10px
			.source
				white-space: nowrap
				width: 205px
				float: left
				+font-size-line-height(15px, 20px)
				margin: 7px 50px 0 0
				.dropdown-menu
					margin: 15px 0 0 -36px
					display: block
			.title
				width: 530px
				float: left
				+font-size-line-height(21px, 28px)
		.middle
			margin-bottom: 7px
			span, a
				padding-right: 17px
				+font-size-line-height(12px, 27px)
			.big
				color: #666666
				+font-size-line-height(17px, 22px)
				&.unactive
					color: #cccccc
			.name
				padding-left: 22px
				position: relative
				//&:after
					//+icons(-1px, -3px, 21px, 18px, -69px, -21px)
			.keywords
				a
					color: #999999
					line-height: 20px
					cursor: pointer
				.active
					color: #0066cc
			.when
				.dropdown-menu
					display: block
					top: 100%
					left: -30px
					margin-top: 10px
					padding: 4px 15px
		.description
			padding-right: 100px
			// display: none
			p
				+font-size-line-height(14px, 21px)
				color: #666666
				text-align: justify
		.preview
			p
				+font-size-line-height(14px, 21px)
				color: #666666
				text-align: justify
			position: relative
			padding-right: 110px
			margin-bottom: 40px
			min-height: 100px
			.desc-arrow
				position: absolute
				right: 100px
				bottom: -30px
			.some-info
				position: absolute
				top: 5px
				width: 100px
				right: -35px
				.rupor
					margin-bottom: 13px
					position: relative
					left: -3px
				.dollar
					margin-bottom: 13px
				.prt
					left: -5px
					position: relative
				.popover-content
					padding: 5px 0
					width: 110px
					text-align: center
		.check-box
			position: absolute
			top: -6px
			left: -25px
			label
				display: block
				+size(16px, 16px)
				// background: url(images/sprite.png) -37px -22px
				&:before
					content: "\e603"
				cursor: pointer
			input[type="checkbox"]:checked + label
				&:before
					content: "\e604"
					position: absolute
				&:after
					content: "\e603"
				// background-position: -53px -22px
.title-popup-handle
	@extend .inline-block-relative
	+size(16px, 16px)
	text-decoration: none !important
	cursor: pointer
	img
		width: 100%
//	background: url(images/planeta-icon.png)
//	&:after
//		+icons(0, 0, 100%, 100%, -24px, -38px)
.copyright-popup-handle
	@extend .inline-block-relative
	+size(16px, 16px)
	text-decoration: none !important
	cursor: pointer
	// &:after
	// 	+icons(0, 0, 100%, 100%, -40px, -38px)
	img
		width: 100%
.nav, .pagination, .carousel, .panel-title a
	cursor: pointer
.dropdown-menu
	padding: 0
	margin: 0
	border-radius: 0
	background-color: rgba(0, 0, 0, .77)
	border: none
	box-shadow: none
	li
		border-top: 3px solid #fff
		&:first-child
			border-top: none
		a
			padding: 0 0 0 30px
			+font-size-line-height(20px, 52px)
			width: 320px
			color: #fff
			outline: none
			&:hover, &:active
				background: rgba(0, 0, 0, .45)
				color: #fff
.dropdown-menu
	&.custom-tooltip
		background: #fff
		box-shadow: 0px 0px 20.88px 3.12px rgba(0, 0, 0, 0.34)
		border-radius: 6px
		padding: 8px 15px
		min-width: 0
		span
			+font-size-line-height(13px, 21px)
			white-space: nowrap
		&:after
			bottom: 100%
			left: 43px
			border: solid transparent
			content: ""
			height: 0
			width: 0
			position: absolute
			pointer-events: none
			border-color: rgba(255, 255, 255, 0)
			border-bottom-color: #fff
			border-width: 10px
			margin-left: -10px
.colored-text
	border-radius: 5px
	padding: 0 3px
.popover
	border: none
	box-shadow: 0px 0px 20.88px 3.12px rgba(0, 0, 0, 0.34)
.popover.top>.arrow
	border-color: transparent
.popover-content
	font-family: "a_avantebsregular"
	font-size: 14px
.preloader
	+size(100%, 100%)
	position: fixed
	background: #F3F3F3
	z-index: 100
	span
		+size(76px, 76px)
		position: absolute
		top: 50%
		left: 50%
		margin: -38px 0 0 -38px
		// background: url(images/preloader.GIF) no-repeat
.showWeeks
	color: #fff
.element
	.dropdown-menu
		padding: 5px
		margin: 0
		border-radius: 0
		background-color: #fff
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)
		box-shadow: 0 6px 12px rgba(0,0,0,.175)
		font-family: "a_avantebsregular"
		width: 286px
.element
	table
		thead
			th
				vertical-align: middle
				padding-bottom: 10px
.show-hide.ng-hide-add, .show-hide.ng-hide-remove
	-webkit-transition: all linear 0.5s
	-moz-transition: all linear 0.5s
	-o-transition: all linear 0.5s
	transition: all linear 0.5s
	display: block!important
.show-hide.ng-hide-add.ng-hide-add-active, .show-hide.ng-hide-remove
	opacity: 0
.show-hide.ng-hide-add, .show-hide.ng-hide-remove.ng-hide-remove-active
	opacity: 1
.left
	float: left
.right
	float: right
.custom-filters
	width: 300px
	background: url(images/right-filters-bg.png)
.f-row
	border-top: 2px solid #fff
	position: relative
	padding-left: 14px
	&:first-child
		border-top: none
	.text-title
		outline: none
		text-decoration: none
		display: block
		font: 17px/51px 'a_avantebsregular'
		color: #fff
	.group-check-radio
		margin-left: 9px
		overflow: hidden
	label
		display: block
		cursor: pointer
		position: relative
		font: 14px/14px 'a_avantebsregular'
		color: #fff
		margin-bottom: 8px
		padding-left: 29px
		padding-right: 10px
		&:after
			+icons(0px, 0px, 13px, 13px, -224px, 0)
	input[type="radio"]:checked + label, input[type="checkbox"]:checked + label
		&:after
			background-position: -211px 0
.select-all
	position: relative
	width: 150px
	margin-bottom: 9px
	label
		margin-bottom: 0
		padding-bottom: 8px
		border-bottom: 1px solid #999999
		&:after
			background-position: -198px 0
.scrollme
	max-height: 200px
	margin-bottom: 10px
.ngsb-wrap .ngsb-scrollbar .ngsb-track
	width: 5px
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb
	width: 5px
	background: url(images/scroll-1-bg.png) repeat-y
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:hover .ngsb-thumb
	background: url(images/scroll-1-bg.png) repeat-y
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active
	background: none
.ngsb-wrap .ngsb-scrollbar
	right: 7px
.write-block
	margin-top: 14px
	padding-bottom: 14px
	position: relative
.write-block
	input[type="text"]
		border: 1px solid #DDDDDD
		border-radius: 3px
		padding: 1px 18px 1px 6px
		line-height: initial
		margin-left: -6px
		width: 257px
	.toggle-arrow
		+size(18px, 23px)
		outline: none
		position: absolute
		right: 9px
		top: 0
		&:after
			+icons(0, 8px, 11px, 8px, -195px, -15px)
		&.open
			&:after
				background-position: -184px -15px
rzslider span.bubble.limit
	display: none
.slider-wrap
	padding-right: 18px
	padding-left: 4px
	.s-label
		font: 16px/19px "a_avantebsregular"
		color: #fff
	.rzslider-value
		text-align: center
		border-radius: 4px
		background: #fff
		box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75) inset
		width: 85px
		line-height: 25px
		padding: 0 10px
		&.little
			width: 35px
rzslider
	height: 3px
	margin-bottom: 15px
	margin-top: 20px
rzslider span.bar
	background: #999999
rzslider span.bar.selection
	background: #99CC66
rzslider span.bubble
	color: #fff
	font-size: 19px
	top: -34px
rzslider span.pointer
	+size(26px, 26px)
	top: -13px
	background: #3B3B3B
	&:after
		background: none
	&:before
		content: "\e610"
		font-size: 28px
		position: absolute
		top: -1px
		left: -1px
		color: #999999
.wrap-datepicker
	height: 51px
	padding-left: 0
	.dropdown-menu
		min-width: 310px
		left: -60px !important
		top: 40px !important
	div
		position: relative
		padding-left: 11px
		float: left
		height: 100%
		.datepicker-icon
			float: left
			width: 17px
			height: 17px
			cursor: pointer
			margin: 17px 5px 0 6px
			position: relative
			background: transparent
			&:before
				content: "\e605"
				color: #B2B2B2
				font-size: 17px
			// background: url(images/calendar-new-icon.png)
		input[type="text"]
			float: left
			margin-top: 14px
			width: 90px
			font-size: 13px
			padding: 4px 5px
			border-radius: 3px
			text-align: center
			background: rgb(196,196,196)
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
			background: -moz-linear-gradient(top,  rgba(196,196,196,1) 0%, rgba(220,220,220,1) 100%)
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,196,196,1)), color-stop(100%,rgba(220,220,220,1)))
			background: -webkit-linear-gradient(top,  rgba(196,196,196,1) 0%,rgba(220,220,220,1) 100%)
			background: -o-linear-gradient(top,  rgba(196,196,196,1) 0%,rgba(220,220,220,1) 100%)
			background: -ms-linear-gradient(top,  rgba(196,196,196,1) 0%,rgba(220,220,220,1) 100%)
			background: linear-gradient(to bottom,  rgba(196,196,196,1) 0%,rgba(220,220,220,1) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#dcdcdc',GradientType=0 )
.current-news
	width: 660px
	.under-header
		top: 39px
		position: fixed
		width: 660px
		z-index: 2
		.wrap
			margin: 0 7px
			padding: 5px 0 10px 0
			min-height: 71px
			background: #fff
		.active-category
			width: auto
			padding-right: 10px
	.news
		.wrap
			margin: 0
			.top
				margin-bottom: 10px
				.source
					margin: 20px 15px 0 -15px
					width: 185px
				.title
					width: 370px
		.middle
			margin-bottom: 3px
		.preview
			padding-right: 0
			.desc-arrow
				right: 0
			.some-info
				left: 0
				bottom: -30px
				top: auto
				width: auto
				p
					margin-bottom: 0
					float: left
					margin-right: 30px
		.description
			padding-right: 0
.active-filters
	padding: 10px 0 0 41px
	p
		font: 11px/13px 'a_avantebsregular'
		color: #000
		float: left
		padding: 3px 20px 3px 0
		margin-right: 13px
		width: auto
		position: relative
		border-right: 1px solid #CCCCCC
		&:first-child
			padding-left: 0
	.f-close
		position: absolute
		+size(20px, 19px)
		top: 0
		right: 0
		&:after
			content: ''
			position: absolute
			+size(5px, 5px)
			top: 3px
			right: 4px
			background: url(images/f-filter-close.png)
.window-badge
	position: absolute
	height: 31px
	border: 1px solid #CCCCCC
	background: #fff
	right: 300px
	margin-top: -12px
	width: 215px
	box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.36)
	padding: 0
	text-align: center
	z-index: 3
	&:before, &:after
		left: 100%
		top: 50%
		border: solid transparent
		content: " "
		height: 0
		width: 0
		position: absolute
		pointer-events: none
	&:after
		border-color: rgba(255, 255, 255, 0)
		border-left-color: #ffffff
		border-width: 7px
		margin-top: -7px
	&:before
		border-color: rgba(204, 204, 204, 0)
		border-left-color: #cccccc
		border-width: 8px
		margin-top: -8px
	span
		color: #333333
		font: 12px/31px 'a_avantebsregular'
		margin-right: 5px
	a
		color: #3366cc
		font: 12px/31px 'a_avantebsregular'
		text-decoration: underline
		&:hover
			text-decoration: none
.widget-0
	.content
		position: relative
rzslider
	span.bubble
		display: none
.wrap-min-max
	padding-bottom: 10px
.scroller
	max-height: 154px
	width: 100%
	overflow-y: hidden
	position: relative
.ps-container .ps-scrollbar-y
	width: 5px
	right: 10px
	background: #A2A2A2
.wrap-row
	position: relative
.author-icon
	content: ""
	position: absolute
	top: -3px
	left: -1px
	width: 21px
	height: 18px
	img
		width: 100%