html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.hovered {
  text-decoration: underline; }

.clear:after, .clear:before {
  clear: both;
  display: block;
  zoom: 1;
  content: ""; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none; }

@font-face {
  font-family: "a_avantebsregular";
  src: url("fonts/aavantebs-webfont/aavantebs.eot");
  src: url("fonts/aavantebs-webfont/aavantebs.eot?#iefix") format("embedded-opentype"), url("fonts/aavantebs-webfont/aavantebs.woff") format("woff"), url("fonts/aavantebs-webfont/aavantebs.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "myriadpro-regular";
  src: url("fonts/myriadpro-regular/myriadpro-regular.eot");
  src: url("fonts/myriadpro-regular/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("fonts/myriadpro-regular/myriadpro-regular.woff") format("woff"), url("fonts/myriadpro-regular/myriadpro-regular.ttf") format("truetype"), url("fonts/myriadpro-regular/myriadpro-regular.svg#myriadpro-regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon/icomoon.eot?ksozjj");
  src: url("fonts/icomoon/icomoon.eot?#iefixksozjj") format("embedded-opentype"), url("fonts/icomoon/icomoon.woff?ksozjj") format("woff"), url("fonts/icomoon/icomoon.ttf?ksozjj") format("truetype"), url("fonts/icomoon/icomoon.svg?ksozjj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^='icon-moon'], [class*='icon-moon'] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  [class^='icon-moon']:before, [class*='icon-moon']:before {
    color: #555555; }

.icon-moon-uniE600:before {
  content: "\e600";
  font-size: 17px; }

.icon-moon-svg:before {
  content: "\e602";
  font-size: 17px; }

.icon-moon-uniE601:before {
  content: "\e601";
  font-size: 24px; }

p, span, a, input, h2 {
  font-family: "a_avantebsregular", arial; }

.inline-block-relative, .title-popup-handle, .copyright-popup-handle {
  display: inline-block;
  position: relative; }

html, body, .container {
  height: 100%;
  width: 100%;
  padding: 0; }

body .container {
  height: auto;
  min-height: 100%;
  background: url(images/background.png); }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 38px;
  margin-top: -38px;
  background: #5d0000; }
  .footer .wrap {
    padding: 7px 39px 0 0; }
    .footer .wrap a {
      position: relative;
      float: right;
      margin-right: 38px; }
      .footer .wrap a:first-child {
        margin-right: 0; }
    .footer .wrap .exit {
      width: 18px;
      height: 22px; }
      .footer .wrap .exit:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("images/sprite.png") -96px 0; }
    .footer .wrap .copy {
      width: 15px;
      height: 20px;
      margin-top: 2px; }
      .footer .wrap .copy:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("images/sprite.png") -81px 0; }
    .footer .wrap .like {
      margin-top: 1px;
      width: 20px;
      height: 21px; }
      .footer .wrap .like:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("images/sprite.png") -61px 0; }
    .footer .wrap .check {
      margin-top: 2px;
      width: 22px;
      height: 20px; }
      .footer .wrap .check:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("images/sprite.png") 0 -45px; }

.content {
  width: 960px;
  margin: 0 auto; }

h2 {
  font-size: 25px;
  margin-bottom: 12px; }

.header {
  height: 30px;
  background: #5d0000;
  padding-top: 7px;
  border-top: 1px solid #671617;
  border-bottom: 1px solid #671617; }
  .header .btn-group {
    float: left; }
  .header .menu-handle {
    width: 22px;
    height: 22px;
    position: relative;
    float: left;
    margin: 0 26px 0 14px;
    cursor: pointer;
    background-color: transparent; }
    .header .menu-handle img {
      width: 100%; }
  .header .logo {
    float: left;
    margin: -21px 29px 0 0;
    position: relative;
    height: 52px;
    overflow: hidden; }
    .header .logo img {
      height: 22px; }
    .header .logo:before {
      content: "\e609";
      font-size: 70px;
      color: white; }
  .header .profile-handle {
    width: 36px;
    height: 22px;
    position: relative;
    float: right;
    margin: -6px 14px 0 22px; }
    .header .profile-handle:before {
      content: "\e608";
      font-size: 34px;
      color: white; }
    .header .profile-handle img {
      width: 100%; }
  .header .settings-handle {
    width: 27px;
    height: 27px;
    position: relative;
    float: right;
    top: -2px; }
    .header .settings-handle:before {
      content: "\e60c";
      font-size: 27px;
      color: white; }
    .header .settings-handle img {
      width: 100%; }
  .header .search-form {
    float: left; }
  .header .dropdown-menu {
    margin: 8px 0 0 7px; }
    .header .dropdown-menu .back {
      height: 52px;
      background: black;
      position: relative; }
      .header .dropdown-menu .back:after {
        content: "";
        position: absolute;
        top: 17px;
        left: 35px;
        width: 29px;
        height: 19px;
        background: url("images/sprite.png") -131px -25px; }

.wrap-header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 3; }

.search-form {
  width: 378px;
  height: 22px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  background: #ae8080;
  overflow: hidden; }
  .search-form form {
    height: 100%; }
  .search-form input {
    width: 337px;
    height: 100%;
    background: transparent;
    padding-left: 10px;
    float: left; }
  .search-form button {
    width: 28px;
    height: 100%;
    position: relative;
    float: left;
    background: transparent;
    cursor: pointer; }
    .search-form button:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 22px;
      background: url("images/sprite.png") -58px 0; }
    .search-form button:after {
      content: "\e606";
      position: absolute;
      left: 9px;
      top: 5px;
      font-size: 13px;
      color: white; }

.under-header .content {
  position: relative; }
  .under-header .content .wrap {
    margin: 0 7px;
    padding: 5px 0 10px 0;
    background: #f3f3f3;
    min-height: 71px; }
.under-header p {
  font: 21px Arial;
  padding-left: 41px;
  width: 700px;
  margin-top: 10px; }
  .under-header p > span {
    color: #999999;
    margin-right: 8px; }
    .under-header p > span .count {
      display: inline-block;
      position: relative; }
      .under-header p > span .count:after {
        content: "";
        position: absolute;
        width: 97%;
        height: 3px;
        bottom: 0;
        left: 3%;
        background: #999999; }
.under-header .datepicker {
  position: absolute;
  top: 10px;
  right: 100px; }

.main-content {
  background: url(images/background.png);
  padding-top: 169px; }

.datepicker input {
  padding: 7px 5px 7px 30px;
  font-size: 14px;
  background-color: #ececec;
  width: 85px; }
.datepicker .element {
  position: relative;
  margin-top: 5px; }
  .datepicker .element:after {
    content: "\e605";
    font-size: 17px;
    position: absolute;
    top: 6px;
    left: 6px; }
  .datepicker .element:first-child {
    margin-top: 0; }
.datepicker .arrow {
  position: absolute;
  width: 10px;
  height: 22px;
  top: 50%;
  margin-top: -11px; }
  .datepicker .arrow.prev {
    left: -20px; }
    .datepicker .arrow.prev:before {
      content: "\e60a";
      font-size: 22px;
      color: #e9e9e9; }
  .datepicker .arrow.next {
    right: -8px; }
    .datepicker .arrow.next:before {
      content: "\e60b";
      font-size: 22px;
      color: #e9e9e9; }

.some-info p a {
  float: left; }
.some-info p span {
  margin-left: 10px;
  display: inline-block; }
  .some-info p span.positive {
    padding: 8px;
    background: #99cc66;
    border-radius: 8px;
    margin: -8px 0 0 10px;
    color: black; }

.rupor a {
  position: relative;
  top: 3px;
  width: 17px;
  height: 15px;
  opacity: 0.3; }
  .rupor a:before {
    content: "\e607";
    font-size: 17px; }
  .rupor a.active {
    opacity: 1; }

.dollar a {
  position: relative;
  top: -1px;
  width: 11px;
  height: 21px;
  opacity: 0.3; }
  .dollar a:before {
    content: "\e60e";
    font-size: 20px;
    position: absolute;
    left: -4px; }
  .dollar a.active {
    opacity: 1; }

.prt a {
  position: relative;
  top: 2px;
  width: 24px;
  height: 14px;
  opacity: 0.3; }
  .prt a:before {
    content: "\e60f";
    font-size: 24px;
    position: absolute;
    top: -3px; }
  .prt a.active {
    opacity: 1; }

.desc-arrow {
  width: 24px;
  height: 24px; }
  .desc-arrow.open {
    background-position: -24px 0; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

.news {
  margin: 0 7px;
  padding-bottom: 1px; }
  .news h2 {
    margin-left: 13px; }
  .news section {
    background: white;
    padding: 12px 31px;
    margin-bottom: 14px;
    border: 1px solid #f6f6f6;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.16); }
    .news section .wrap {
      position: relative;
      padding-top: 1px; }
      .news section .wrap:after {
        margin: -12px -31px 0 0; }
      .news section .wrap.green.full:after {
        content: "";
        position: absolute;
        top: -10px;
        right: 7px;
        width: 52px;
        height: 55px;
        background: url(images/flags.png) 0 -52px; }
      .news section .wrap.red.full:after {
        content: "";
        position: absolute;
        top: -11px;
        right: 7px;
        width: 52px;
        height: 55px;
        background: url(images/flags.png) 0 -107px; }
      .news section .wrap.full.grey:after {
        content: "";
        position: absolute;
        top: -11px;
        right: 11px;
        width: 48px;
        height: 52px;
        background: url(images/flags.png) -49px 0; }
      .news section .wrap.transparent:after {
        content: "";
        position: absolute;
        top: -10px;
        right: 11px;
        width: 49px;
        height: 50px;
        background: url(images/flags.png) 0 0; }
      .news section .wrap.red.third:after {
        content: "";
        position: absolute;
        top: -11px;
        right: 11px;
        width: 48px;
        height: 51px;
        background: url(images/flags.png) -100px -107px; }
      .news section .wrap.red.half:after {
        content: "";
        position: absolute;
        top: -11px;
        right: 11px;
        width: 48px;
        height: 51px;
        background: url(images/flags.png) -52px -107px; }
      .news section .wrap.green.third:after {
        content: "";
        position: absolute;
        top: -11px;
        right: 11px;
        width: 48px;
        height: 51px;
        background: url(images/flags.png) -100px -52px; }
      .news section .wrap.green.half:after {
        content: "";
        position: absolute;
        top: -11px;
        right: 11px;
        width: 48px;
        height: 51px;
        background: url(images/flags.png) -52px -52px; }
      .news section .wrap.grey.third:after {
        content: "";
        position: absolute;
        top: -11px;
        right: 11px;
        width: 48px;
        height: 52px;
        background: url(images/flags.png) -145px 0; }
      .news section .wrap.grey.half:after {
        content: "";
        position: absolute;
        top: -11px;
        right: 11px;
        width: 48px;
        height: 52px;
        background: url(images/flags.png) -97px 0; }
    .news section .top {
      margin-bottom: 10px; }
      .news section .top .source {
        white-space: nowrap;
        width: 205px;
        float: left;
        font-size: 15px;
        line-height: 20px;
        margin: 7px 50px 0 0; }
        .news section .top .source .dropdown-menu {
          margin: 15px 0 0 -36px;
          display: block; }
      .news section .top .title {
        width: 530px;
        float: left;
        font-size: 21px;
        line-height: 28px; }
    .news section .middle {
      margin-bottom: 7px; }
      .news section .middle span, .news section .middle a {
        padding-right: 17px;
        font-size: 12px;
        line-height: 27px; }
      .news section .middle .big {
        color: #666666;
        font-size: 17px;
        line-height: 22px; }
        .news section .middle .big.unactive {
          color: #cccccc; }
      .news section .middle .name {
        padding-left: 22px;
        position: relative; }
      .news section .middle .keywords a {
        color: #999999;
        line-height: 20px;
        cursor: pointer; }
      .news section .middle .keywords .active {
        color: #0066cc; }
      .news section .middle .when .dropdown-menu {
        display: block;
        top: 100%;
        left: -30px;
        margin-top: 10px;
        padding: 4px 15px; }
    .news section .description {
      padding-right: 100px; }
      .news section .description p {
        font-size: 14px;
        line-height: 21px;
        color: #666666;
        text-align: justify; }
    .news section .preview {
      position: relative;
      padding-right: 110px;
      margin-bottom: 40px;
      min-height: 100px; }
      .news section .preview p {
        font-size: 14px;
        line-height: 21px;
        color: #666666;
        text-align: justify; }
      .news section .preview .desc-arrow {
        position: absolute;
        right: 100px;
        bottom: -30px; }
      .news section .preview .some-info {
        position: absolute;
        top: 5px;
        width: 100px;
        right: -35px; }
        .news section .preview .some-info .rupor {
          margin-bottom: 13px;
          position: relative;
          left: -3px; }
        .news section .preview .some-info .dollar {
          margin-bottom: 13px; }
        .news section .preview .some-info .prt {
          left: -5px;
          position: relative; }
        .news section .preview .some-info .popover-content {
          padding: 5px 0;
          width: 110px;
          text-align: center; }
    .news section .check-box {
      position: absolute;
      top: -6px;
      left: -25px; }
      .news section .check-box label {
        display: block;
        width: 16px;
        height: 16px;
        cursor: pointer; }
        .news section .check-box label:before {
          content: "\e603"; }
      .news section .check-box input[type="checkbox"]:checked + label:before {
        content: "\e604";
        position: absolute; }
      .news section .check-box input[type="checkbox"]:checked + label:after {
        content: "\e603"; }

.title-popup-handle {
  width: 16px;
  height: 16px;
  text-decoration: none !important;
  cursor: pointer; }
  .title-popup-handle img {
    width: 100%; }

.copyright-popup-handle {
  width: 16px;
  height: 16px;
  text-decoration: none !important;
  cursor: pointer; }
  .copyright-popup-handle img {
    width: 100%; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.77);
  border: none;
  box-shadow: none; }
  .dropdown-menu li {
    border-top: 3px solid white; }
    .dropdown-menu li:first-child {
      border-top: none; }
    .dropdown-menu li a {
      padding: 0 0 0 30px;
      font-size: 20px;
      line-height: 52px;
      width: 320px;
      color: white;
      outline: none; }
      .dropdown-menu li a:hover, .dropdown-menu li a:active {
        background: rgba(0, 0, 0, 0.45);
        color: white; }

.dropdown-menu.custom-tooltip {
  background: white;
  box-shadow: 0px 0px 20.88px 3.12px rgba(0, 0, 0, 0.34);
  border-radius: 6px;
  padding: 8px 15px;
  min-width: 0; }
  .dropdown-menu.custom-tooltip span {
    font-size: 13px;
    line-height: 21px;
    white-space: nowrap; }
  .dropdown-menu.custom-tooltip:after {
    bottom: 100%;
    left: 43px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -10px; }

.colored-text {
  border-radius: 5px;
  padding: 0 3px; }

.popover {
  border: none;
  box-shadow: 0px 0px 20.88px 3.12px rgba(0, 0, 0, 0.34); }

.popover.top > .arrow {
  border-color: transparent; }

.popover-content {
  font-family: "a_avantebsregular";
  font-size: 14px; }

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #f3f3f3;
  z-index: 100; }
  .preloader span {
    width: 76px;
    height: 76px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -38px 0 0 -38px; }

.showWeeks {
  color: white; }

.element .dropdown-menu {
  padding: 5px;
  margin: 0;
  border-radius: 0;
  background-color: white;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  font-family: "a_avantebsregular";
  width: 286px; }

.element table thead th {
  vertical-align: middle;
  padding-bottom: 10px; }

.show-hide.ng-hide-add, .show-hide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important; }

.show-hide.ng-hide-add.ng-hide-add-active, .show-hide.ng-hide-remove {
  opacity: 0; }

.show-hide.ng-hide-add, .show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

.left {
  float: left; }

.right {
  float: right; }

.custom-filters {
  width: 300px;
  background: url(images/right-filters-bg.png); }

.f-row {
  border-top: 2px solid white;
  position: relative;
  padding-left: 14px; }
  .f-row:first-child {
    border-top: none; }
  .f-row .text-title {
    outline: none;
    text-decoration: none;
    display: block;
    font: 17px/51px "a_avantebsregular";
    color: white; }
  .f-row .group-check-radio {
    margin-left: 9px;
    overflow: hidden; }
  .f-row label {
    display: block;
    cursor: pointer;
    position: relative;
    font: 14px/14px "a_avantebsregular";
    color: white;
    margin-bottom: 8px;
    padding-left: 29px;
    padding-right: 10px; }
    .f-row label:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 13px;
      height: 13px;
      background: url("images/sprite.png") -224px 0; }
  .f-row input[type="radio"]:checked + label:after, .f-row input[type="checkbox"]:checked + label:after {
    background-position: -211px 0; }

.select-all {
  position: relative;
  width: 150px;
  margin-bottom: 9px; }
  .select-all label {
    margin-bottom: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #999999; }
    .select-all label:after {
      background-position: -198px 0; }

.scrollme {
  max-height: 200px;
  margin-bottom: 10px; }

.ngsb-wrap .ngsb-scrollbar .ngsb-track {
  width: 5px; }

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
  width: 5px;
  background: url(images/scroll-1-bg.png) repeat-y; }

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:hover .ngsb-thumb {
  background: url(images/scroll-1-bg.png) repeat-y; }

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active {
  background: none; }

.ngsb-wrap .ngsb-scrollbar {
  right: 7px; }

.write-block {
  margin-top: 14px;
  padding-bottom: 14px;
  position: relative; }

.write-block input[type="text"] {
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 1px 18px 1px 6px;
  line-height: initial;
  margin-left: -6px;
  width: 257px; }
.write-block .toggle-arrow {
  width: 18px;
  height: 23px;
  outline: none;
  position: absolute;
  right: 9px;
  top: 0; }
  .write-block .toggle-arrow:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 11px;
    height: 8px;
    background: url("images/sprite.png") -195px -15px; }
  .write-block .toggle-arrow.open:after {
    background-position: -184px -15px; }

rzslider span.bubble.limit {
  display: none; }

.slider-wrap {
  padding-right: 18px;
  padding-left: 4px; }
  .slider-wrap .s-label {
    font: 16px/19px "a_avantebsregular";
    color: white; }
  .slider-wrap .rzslider-value {
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75) inset;
    width: 85px;
    line-height: 25px;
    padding: 0 10px; }
    .slider-wrap .rzslider-value.little {
      width: 35px; }

rzslider {
  height: 3px;
  margin-bottom: 15px;
  margin-top: 20px; }

rzslider span.bar {
  background: #999999; }

rzslider span.bar.selection {
  background: #99cc66; }

rzslider span.bubble {
  color: white;
  font-size: 19px;
  top: -34px; }

rzslider span.pointer {
  width: 26px;
  height: 26px;
  top: -13px;
  background: #3b3b3b; }
  rzslider span.pointer:after {
    background: none; }
  rzslider span.pointer:before {
    content: "\e610";
    font-size: 28px;
    position: absolute;
    top: -1px;
    left: -1px;
    color: #999999; }

.wrap-datepicker {
  height: 51px;
  padding-left: 0; }
  .wrap-datepicker .dropdown-menu {
    min-width: 310px;
    left: -60px !important;
    top: 40px !important; }
  .wrap-datepicker div {
    position: relative;
    padding-left: 11px;
    float: left;
    height: 100%; }
    .wrap-datepicker div .datepicker-icon {
      float: left;
      width: 17px;
      height: 17px;
      cursor: pointer;
      margin: 17px 5px 0 6px;
      position: relative;
      background: transparent; }
      .wrap-datepicker div .datepicker-icon:before {
        content: "\e605";
        color: #b2b2b2;
        font-size: 17px; }
    .wrap-datepicker div input[type="text"] {
      float: left;
      margin-top: 14px;
      width: 90px;
      font-size: 13px;
      padding: 4px 5px;
      border-radius: 3px;
      text-align: center;
      background: #c4c4c4;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #c4c4c4 0%, gainsboro 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4c4c4), color-stop(100%, gainsboro));
      background: -webkit-linear-gradient(top, #c4c4c4 0%, gainsboro 100%);
      background: -o-linear-gradient(top, #c4c4c4 0%, gainsboro 100%);
      background: -ms-linear-gradient(top, #c4c4c4 0%, gainsboro 100%);
      background: linear-gradient(to bottom, #c4c4c4 0%, gainsboro 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c4c4', endColorstr='#dcdcdc',GradientType=0 ); }

.current-news {
  width: 660px; }
  .current-news .under-header {
    top: 39px;
    position: fixed;
    width: 660px;
    z-index: 2; }
    .current-news .under-header .wrap {
      margin: 0 7px;
      padding: 5px 0 10px 0;
      min-height: 71px;
      background: white; }
    .current-news .under-header .active-category {
      width: auto;
      padding-right: 10px; }
  .current-news .news .wrap {
    margin: 0; }
    .current-news .news .wrap .top {
      margin-bottom: 10px; }
      .current-news .news .wrap .top .source {
        margin: 20px 15px 0 -15px;
        width: 185px; }
      .current-news .news .wrap .top .title {
        width: 370px; }
  .current-news .news .middle {
    margin-bottom: 3px; }
  .current-news .news .preview {
    padding-right: 0; }
    .current-news .news .preview .desc-arrow {
      right: 0; }
    .current-news .news .preview .some-info {
      left: 0;
      bottom: -30px;
      top: auto;
      width: auto; }
      .current-news .news .preview .some-info p {
        margin-bottom: 0;
        float: left;
        margin-right: 30px; }
  .current-news .news .description {
    padding-right: 0; }

.active-filters {
  padding: 10px 0 0 41px; }
  .active-filters p {
    font: 11px/13px "a_avantebsregular";
    color: black;
    float: left;
    padding: 3px 20px 3px 0;
    margin-right: 13px;
    width: auto;
    position: relative;
    border-right: 1px solid #cccccc; }
    .active-filters p:first-child {
      padding-left: 0; }
  .active-filters .f-close {
    position: absolute;
    width: 20px;
    height: 19px;
    top: 0;
    right: 0; }
    .active-filters .f-close:after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      top: 3px;
      right: 4px;
      background: url(images/f-filter-close.png); }

.window-badge {
  position: absolute;
  height: 31px;
  border: 1px solid #cccccc;
  background: white;
  right: 300px;
  margin-top: -12px;
  width: 215px;
  box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.36);
  padding: 0;
  text-align: center;
  z-index: 3; }
  .window-badge:before, .window-badge:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .window-badge:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: white;
    border-width: 7px;
    margin-top: -7px; }
  .window-badge:before {
    border-color: rgba(204, 204, 204, 0);
    border-left-color: #cccccc;
    border-width: 8px;
    margin-top: -8px; }
  .window-badge span {
    color: #333333;
    font: 12px/31px "a_avantebsregular";
    margin-right: 5px; }
  .window-badge a {
    color: #3366cc;
    font: 12px/31px "a_avantebsregular";
    text-decoration: underline; }
    .window-badge a:hover {
      text-decoration: none; }

.widget-0 .content {
  position: relative; }

rzslider span.bubble {
  display: none; }

.wrap-min-max {
  padding-bottom: 10px; }

.scroller {
  max-height: 154px;
  width: 100%;
  overflow-y: hidden;
  position: relative; }

.ps-container .ps-scrollbar-y {
  width: 5px;
  right: 10px;
  background: #a2a2a2; }

.wrap-row {
  position: relative; }

.author-icon {
  content: "";
  position: absolute;
  top: -3px;
  left: -1px;
  width: 21px;
  height: 18px; }
  .author-icon img {
    width: 100%; }
