{% extends "admin/change_form.html" %}
{% block content %}
    {{ block.super }}
    <form target="_blank" method="POST" action="/admin/custom_user/{{ object_id }}/download_votes_report/">
        {% csrf_token %}
        <fieldset class="module aligned ">
            <h2>Выгрузить оценки</h2>
            <div class="form-row field-votes_from">
                <div>
                    <label class="required" for="id_votes_from">Дата от:</label>
                    <p class="datetime"><input class="vDateField" id="id_votes_from" name="votes_from"
                                               size="10" type="text" value="{% now "Y-m-d" %}"></p>
                </div>
            </div>

            <div class="form-row field-date_joined">
                <div>
                    <label class="required" for="id_votes_to">Дата до:</label>
                    <p class="datetime"><input class="vDateField" id="id_votes_to" name="votes_to"
                                               size="10" type="text" value="{% now "Y-m-d" %}"></p>
                </div>
            </div>
        </fieldset>
        <input type="submit" value="Получить отчет">
    </form>
{% endblock content %}
