{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/colorpicker/colpick.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/custom-widgets.css" %}">
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}

</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="permissions/" class="permissionslink">Object permissions</a></li>
    <li><a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}
{% if change %}
  <input type="hidden" id="editing" value="{{ original.pk }}">
{% endif %}
<div class="module aligned widget-priorities">
  <div class="form-row field-project">
    <div>
      <label class="required">Содержание:</label>
    </div>
    <div class="c-priorities">
      <ul>
        <li>
          <label for="c-fild-1">Выступление наших команд</label>
          <span class="page"><input type="text" name="paragraph-1" id="c-fild-1" value="1"/></span>
        </li>
        <li>
          <label for="c-fild-2">Хоккей</label>
          <span class="page"><input type="text" name="paragraph-2" id="c-fild-2" value="1"/></span>
        </li>
        <li>
          <label for="c-fild-3">Фигурное катание</label>
          <span class="page"><input type="text" name="paragraph-3" id="c-fild-3" value="1"/></span>
        </li>
      </ul>
    </div>
  </div>
</div>
{% if change %}
{% endif %}
<div class="module aligned widget-monitoring">
  <div class="form-row field-project">
    <div class="column">
      <label class="required">Объекты мониторинга</label>
    </div>
    <div class="column">
      <label class="required">Ключевые слова</label>
    </div>
  </div>
  <div class="form-row field-project list-of-object">
    <div class="column">
      <ul>
      </ul>
      <div class="vertical-scroll">
        <i class="arrow"></i>
      </div>
    </div>
    <div class="column keywords-block">
      <section id="c-tab-1">
        <ul>
        </ul>
      </section>
      <section id="c-tab-2">
        <ul>
        </ul>
      </section>
      <section id="c-tab-3">
        <ul>
        </ul>
      </section>
      <section id="c-tab-4">
        <ul>
        </ul>
      </section>
    </div>
  </div>
</div>

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}


{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform.first_field and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
<div class="color-swatches-block" style="display: none;">
    <div class="wrap">
      <span style="background: #E4B7B7;" data-color="E4B7B7"></span>
      <span style="background: #C5C5C5;" data-color="C5C5C5"></span>
      <span style="background: #F2AB7B;" data-color="F2AB7B"></span>
      <span style="background: #99C5CF;" data-color="99C5CF"></span>
      <span style="background: #DACC9B;" data-color="DACC9B"></span>
      <span style="background: #9BDDC3;" data-color="9BDDC3"></span>
      <span style="background: #B8E598;" data-color="B8E598"></span>
      <span style="background: #D7B1DB;" data-color="D7B1DB"></span>
      <span style="background: #E8E774;" data-color="E8E774"></span>
      <span style="background: #BAB2E9;" data-color="BAB2E9"></span>
      <span style="background: #ACC6A2;" data-color="ACC6A2"></span>
      <span style="background: #B1CEEE;" data-color="B1CEEE"></span>
    </div>
</div>
{% endblock %}