{% include 'modalsAngular.html' %}
<!DOCTYPE html>
<html id="ng-app" ng-app="exlibris">
<head>
	<meta charset="utf-8"/>
{#    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lib/jquery-ui-dialog.min.css">#}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lib/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lib/rzslider.min.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css?v=4.2">
	<title>Exlibris</title>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <script src="{{ MEDIA_URL }}js/lib/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
		<style type="text/css">html,*{filter: none;}</style>
	<!-->
	    <script src="{{ MEDIA_URL }}js/lib/jquery.min.js"></script>
	<!--<![endif]-->
</head>
<body class="hexagon" ng-controller="checkboxCtrl">
	{% csrf_token %}
	<div ng-show="$root.loadingView" class="preloader show-hide"><span id="loaderImage"></span></div>
    <div class="preloader-setting show-hide ng-hide" ng-show="$root.loadingView" style=""><img src="/media/css/images/preload-ios.gif" alt=""></div>
	<div class="container" ng-controller="profileOpen">
		<header class="header">
			<div class="content">

                 <div class="btn-group">
                <button class="menu-handle open-profile-modal" ng-click="openProfile()">
                    <img src="{{ MEDIA_URL }}css/images/header-left-menu-handle-1.png" alt="menu">
                </button>
            </div>
				<a href="/{{ slug }}/" class="logo icon-moon"></a>
				<div class="search-form icon-moon">
					<form action=".">
						<input type="text">
						<button>&nbsp;</button>
					</form>
				</div>

			</div>
		</header>
        <div class="backs-all"></div>
        <div class="content test-content" >
            <profile-tmp profile="profile"></profile-tmp>
        </div>
		<div class="sotu-outer sasha">

			<div class="sotu">
				<div class="sotu-inner clear" ng-controller="profileOpen">
					{% for elem in monitoring_products %}

						<div data-number="{{ forloop.counter0 }}" class="hex {% if forloop.first or forloop.counter0|divisibleby:7 %}hex-gap{% endif %}">
							<div class="inner">
								<p class="date">{{ elem.date_start|date:'d-m-Y' }} - {{ elem.date_end|date:'d-m-Y'  }}</p>
								<span>{{ elem.type }} мониторинг</span>
                                <div class="change_name_product">
                                    <input type="text" data-pk="{{ elem.pk }}" value="{{ elem.title }}" disabled="disabled" ng-blur="rename($event, {{forloop.counter0}}, {{ elem.users_count }})">
                                    <span class="rename icon-moon js-rename" ></span>
                                </div>
							</div>
							<span class="go-inside" data-href="{{ elem.link }}"></span>
							<span ><a href="#" class="setting" ng-click="openProductWithSettings({{ elem.pk }})" ></a></span>
							<a href="#" ng-click="deleteProduct({{forloop.counter0}}, {{ elem.users_count }})" class="shut" ng-if="{{ elem.parent_id }}"></a>
							<a href="#" class="favorite"></a>
							<img src="{{ MEDIA_URL }}css/images/sotu/1.png" alt=""/>
							<div class="quality-term">
								<p>Качество</p>
								<form ng-init="initRatings({{ elem.pk|default:"null" }},{{ elem.quality|default:"null" }},{{ elem.term|default:"null" }})">
									<div class="star-rating clear">
										<input type="radio" ng-model="ratings[{{forloop.counter0}}].rating" name="rating{{forloop.counter0}}" id="rating5{{forloop.counter0}}" value="5"><label for="rating5{{forloop.counter0}}"></label>
										<input type="radio" ng-model="ratings[{{forloop.counter0}}].rating" name="rating{{forloop.counter0}}" id="rating4{{forloop.counter0}}" value="4"><label for="rating4{{forloop.counter0}}"></label>
										<input type="radio" ng-model="ratings[{{forloop.counter0}}].rating" name="rating{{forloop.counter0}}" id="rating3{{forloop.counter0}}" value="3"><label for="rating3{{forloop.counter0}}"></label>
										<input type="radio" ng-model="ratings[{{forloop.counter0}}].rating" name="rating{{forloop.counter0}}" id="rating2{{forloop.counter0}}" value="2"><label for="rating2{{forloop.counter0}}"></label>
										<input type="radio" ng-model="ratings[{{forloop.counter0}}].rating" name="rating{{forloop.counter0}}" id="rating1{{forloop.counter0}}" value="1"><label for="rating1{{forloop.counter0}}"></label>
									</div>
									<p>Срок</p>
									<div class="star-rating clear">
										<input type="radio" ng-model="ratings[{{forloop.counter0}}].term" name="term{{forloop.counter0}}" id="term5{{forloop.counter0}}" value="5"><label for="term5{{forloop.counter0}}"></label>
										<input type="radio" ng-model="ratings[{{forloop.counter0}}].term" name="term{{forloop.counter0}}" id="term4{{forloop.counter0}}" value="4"><label for="term4{{forloop.counter0}}"></label>
										<input type="radio" ng-model="ratings[{{forloop.counter0}}].term" name="term{{forloop.counter0}}" id="term3{{forloop.counter0}}" value="3"><label for="term3{{forloop.counter0}}"></label>
										<input type="radio" ng-model="ratings[{{forloop.counter0}}].term" name="term{{forloop.counter0}}" id="term2{{forloop.counter0}}" value="2"><label for="term2{{forloop.counter0}}"></label>
										<input type="radio" ng-model="ratings[{{forloop.counter0}}].term" name="term{{forloop.counter0}}" id="term1{{forloop.counter0}}" value="1"><label for="term1{{forloop.counter0}}"></label>
									</div>
									<div class="clear">
										<button type="submit" ng-disabled="isDisabled({{forloop.counter0}})" class="our-btn dark-red" ng-click="vote({{forloop.counter0}})">Отправить</button>
									</div>
								</form>
							</div>
						</div>
					{% endfor %}
                {% if analytic_item == 'show' %}

 					<div class="hex">
						<div class="inner">
							<p class="date">февраль-май 2014</p>
							<h4>Аналитический дэшборд</h4>
						</div>
						<span class="go-inside" data-href="/world-kaspersky/dashboard"></span>
						<a href="#" class="setting"></a>
						<a href="#" class="shut"></a>
						<a href="#" class="favorite"></a>
						<img src="{{ MEDIA_URL }}css/images/sotu/2.png" alt=""/>
						<div class="quality-term">
								<p>Качество</p>
								<form>
									<div class="star-rating clear">
										<input type="radio" name="rating6" id="rating6"><label for="rating6"></label>
										<input type="radio" name="rating7" id="rating7"><label for="rating7"></label>
										<input type="radio" name="rating8" id="rating8"><label for="rating8"></label>
										<input type="radio" name="rating9" id="rating9"><label for="rating9"></label>
										<input type="radio" name="rating10" id="rating10"><label for="rating10"></label>
									</div>
									<p>Срок</p>
									<div class="star-rating clear">
										<input type="radio" name="term6" id="term6"><label for="term6"></label>
										<input type="radio" name="term7" id="term7"><label for="term7"></label>
										<input type="radio" name="term8" id="term8"><label for="term8"></label>
										<input type="radio" name="term9" id="term9"><label for="term9"></label>
										<input type="radio" name="term10" id="term10"><label for="term10"></label>
									</div>
									<div class="clear">
										<button type="submit" class="our-btn dark-red">Отправить</button>
									</div>
								</form>
							</div>
					</div>
                {% elif vympelkom_item == 'show' %}
                    <div class="hex">
						<div class="inner">
							<p class="date">01.01.2014-09.01.2014</p>
							<h4>Аналитический дэшборд</h4>
						</div>
						<span class="go-inside" data-href="/vympelkom/dashboard/"></span>
						<a href="#" class="setting"></a>
						<a href="#" class="shut"></a>
						<a href="#" class="favorite"></a>
						<img src="{{ MEDIA_URL }}css/images/sotu/2.png" alt=""/>
						<div class="quality-term">
								<p>Качество</p>
								<form>
									<div class="star-rating clear">
										<input type="radio" name="rating6" id="rating6"><label for="rating6"></label>
										<input type="radio" name="rating7" id="rating7"><label for="rating7"></label>
										<input type="radio" name="rating8" id="rating8"><label for="rating8"></label>
										<input type="radio" name="rating9" id="rating9"><label for="rating9"></label>
										<input type="radio" name="rating10" id="rating10"><label for="rating10"></label>
									</div>
									<p>Срок</p>
									<div class="star-rating clear">
										<input type="radio" name="term6" id="term6"><label for="term6"></label>
										<input type="radio" name="term7" id="term7"><label for="term7"></label>
										<input type="radio" name="term8" id="term8"><label for="term8"></label>
										<input type="radio" name="term9" id="term9"><label for="term9"></label>
										<input type="radio" name="term10" id="term10"><label for="term10"></label>
									</div>
									<div class="clear">
										<button type="submit" class="our-btn dark-red">Отправить</button>
									</div>
								</form>
							</div>
					</div>
                {% endif %}

<!--					<div class="hex">
						<div class="inner">
							<p class="date">01.04.2013 - 01.04.2014</p>
							<span>мониторинг</span>
							<h4>Билайн</h4>
						</div>
						<a href="#" class="setting"></a>
						<a href="#" class="shut"></a>
						<a href="#" class="favorite"></a>
						<a href="#" class="go-inside"></a>
						<img src="css/images/sotu/3.png" alt=""/>
					</div>
					<div class="hex">
						<div class="inner">
							<p class="date">01.04.2013 - 01.04.2014</p>
							<span>мониторинг</span>
							<h4>Билайн</h4>
						</div>
						<a href="#" class="setting"></a>
						<a href="#" class="shut"></a>
						<a href="#" class="favorite"></a>
						<a href="#" class="go-inside"></a>
						<img src="css/images/sotu/4.png" alt=""/>
					</div>
					<div class="hex">
						<div class="inner">
							<p class="date">01.04.2013 - 01.04.2014</p>
							<span>мониторинг</span>
							<h4>Билайн</h4>
						</div>
						<a href="#" class="setting"></a>
						<a href="#" class="shut"></a>
						<a href="#" class="favorite"></a>
						<a href="#" class="go-inside"></a>
						<img src="css/images/sotu/5.png" alt=""/>
					</div>
					<div class="hex">
						<div class="inner">
							<p class="date">01.04.2013 - 01.04.2014</p>
							<span>мониторинг</span>
							<h4>Билайн</h4>
						</div>
						<a href="#" class="setting"></a>
						<a href="#" class="shut"></a>
						<a href="#" class="favorite"></a>
						<a href="#" class="go-inside"></a>
						<img src="css/images/sotu/6.png" alt=""/>
					</div>
					<div class="hex">
						<div class="inner">
							<p class="date">01.04.2013 - 01.04.2014</p>
							<span>мониторинг</span>
							<h4>Билайн</h4>
						</div>
						<a href="#" class="setting"></a>
						<a href="#" class="shut"></a>
						<a href="#" class="favorite"></a>
						<a href="#" class="go-inside"></a>
						<img src="css/images/sotu/7.png" alt=""/>
					</div> -->
					<div class="hex add hex-gap" >
						<a href="" ng-click="openSetings({{ pk }})"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feedback">
		<ul>
			<li><a href="#">Обратная связь</a></li>
			<li><a href="#">Что-то не работает</a></li>
			<li><a href="#">Общий отзыв</a></li>
			<li><a href="#">Отмена</a></li>
		</ul>
	</div>
{#        <div class="dialogs modal-dialog" title="Basic dialog">#}
{#            <div class="modal-header">#}
{#                <h3 class="modal-title">#}
{#                    <p class="icon-moon icon-rename"></p>#}
{#                    <span>Точно хотите изменить название?</span>#}
{#                </h3>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <p>Вы действительно хотите изменить название продукта для всех пользователй, имеющих доступ к данном продукту? <br /> Название данного продукта будет изменено для всех пользователей, имеющих доступ к данному продукту.</p>#}
{#                <form action="" class="yes-no">#}
{#                    <button type="button" class="no-no grey-btn">назад</button>#}
{#                    <button type="button" class="yes-yes orange-btn">да</button>#}
{#                    <div class="no-mores">#}
{#                        <input type="checkbox" id="no-more"/>#}
{#                        <label for="no-more">Больше не показывать</label>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}

    <script type="text/javascript">

        var directory_date = {{ directory_date|safe }},
            category_list = [];
        var category_structure = {{ category_list|safe }};
        var first_category_list = {{ fist_category_list|safe }};

        var product_settings = [];
        var project_slug = '{{ project.slug }}';
    </script>

    <script type="text/javascript">
        var user_permissions = {{ permissions|safe }};
    </script>


<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery-ui-dialog.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/hexagon.js?v=1.1"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/lodash.compat.min.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-locale_ru-by.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-cookies.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-route.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-animate.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dependencies/inputmask/jquery.inputmask.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dependencies/inputmask/jquery.inputmask.date.extensions.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js"></script>
<script src="//rawgit.com/asafdav/ng-clip/master/src/ngClip.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/rzslider.js?v=1.0"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/index.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/profile_v2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/settings/views.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/dropDownCtrl.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/tabsCtrl.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/directives/directives.js"></script>
<!-- End Directives -->
<!-- factories -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/factories/factories.js"></script>
<!-- End factories -->
<!-- filters -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/filters/filters.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dependencies/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dependencies/perfect-scrollbar.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-perfect-scrollbar.js"></script>
</body>
</html>