<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Exlibris</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}login/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
        <style type="text/css">html, *{filter: none;}</style>
    <![endif]-->
</head>
<body>
	<div class="modal-form login">
		<a href="#" class="logo"><img src="{{ MEDIA_URL }}login/images/logo.png"></a>
		<div class="auth-block">
			<form method="post" action="./?next={{ redirect_to }}" class="errors login-form" >
                {% csrf_token %}
                <input type="hidden" name="slug" value="{{ slug}}">

				<div class="row username">
					<input autofocus type="text" name="username" class = "login" placeholder="логин" value="{% if form.data.login %}{{ form.data.login }}{% else %}{% endif %}">
				</div>
				<div class="row password">
					<input type="password" name="password" class = "password" placeholder="пароль">
				</div>
            	{% if error %}
				<p class="error-msg">{{ error}}</p>
            	{% else %}
            	{% endif %}
				<div class="row submit">
					<button type="submit" class = 'login-button'>войти</button>
				</div>
				<div class="chekbox">
					<input type="checkbox" id="checkbox-save" name="remember-me"/>
					<label for="checkbox-save">сохранить</label>
				</div>
			</form>
		</div>
	</div>
</body>
{#<script>#}
{#jQuery(document).ready(function($) {#}
{#    var login = $('input.login'), password = $('input.password');#}
{##}
{#    $('.login-button').click(function(){#}
{#        console.log('login');#}
{#        if(!login.val()){#}
{#            login.parent('div').addClass('error');#}
{#            console.log('login add remove')#}
{#        }#}
{#        else{#}
{#            login.parent('div').removeClass('error');#}
{#            console.log('login error remove')#}
{#        }#}
{#        if(!password.val()){#}
{#            password.parent().addClass('error');#}
{#        }#}
{#        else{#}
{#            password.parent().removeClass('error');#}
{#        }#}
{#        if (login.val() && password.val())#}
{#            {#}
{#                $('.login-form').submit();#}
{#            }#}
{##}
{#        return false;#}
{#    })#}
{#});#}
{#</script>#}
</html>