<script type="text/ng-template" id="accessHtml">
    <div id="body-access" class="body-access clear" ng-class="{'left-side': !left, 'right-side': left}">
                    <div class="dosnt-select"></div>
{#                    <div class="line"></div>#}
                    <div class="access-for">
                        <p>Доступен для:</p>

                            <perfect-scrollbar  scrolls class="scroll-people" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                                <div id="list-people">
                                    <div class="block-access">
                                        <p class="otdel-access noselect">Отдел PR<span>X</span></p>
                                    </div>
                                    <div class="block-access">
                                        <p class="people-access noselect">Отдел PTR<span>X</span></p>
                                    </div>
                                </div>
                            </perfect-scrollbar>
                    </div>
                    <div class="access-who">
                        <div class="access-drop-down">
                            <p class="noselect " ng-click="otdels()" ng-class="{'': !otdel, 'up': otdel}">Отдел<span class="icon-moon otdel"></span></p>
                            <ul ng-show="otdel">
                                <perfect-scrollbar scrolls class="scroll-drop" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                                    <li ng-repeat="otdel in otdelMany">
                                        <input id="1" type="checkbox" addpeople/>
                                        <label for="1">Отдел PR</label>
                                    </li>
                                    <li>
                                        <input id="2" type="checkbox" addpeople/>
                                        <label for="2">Отдел PTR</label>
                                    </li>
                                    <li>
                                        <input id="3" type="checkbox" addpeople/>
                                        <label for="3">Отдел PRR</label>
                                    </li>
                                </perfect-scrollbar>
                            </ul>
                        </div>
                        <div class="access-drop-down">
                            <p class="noselect " ng-click="peoples()" ng-class="{'': !people, 'up': people}">Пользователь<span class="icon-moon people"></span></p>
                            <ul ng-show="people">
                                <perfect-scrollbar scrolls class="scroll-drop" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                                    <li>
                                        <input id="4" type="checkbox"/>
                                        <label for="4">Отдел PR</label>
                                    </li>
                                    <li>
                                        <input id="5" type="checkbox"/>
                                        <label for="5">Отдел PTR</label>
                                    </li>
                                    <li>
                                        <input id="6" type="checkbox"/>
                                        <label for="6">Отдел PRR</label>
                                    </li>
                                    <li>
                                        <input id="8" type="checkbox"/>
                                        <label for="8">Отдел PR</label>
                                    </li>
                                    <li>
                                        <input id="9" type="checkbox"/>
                                        <label for="9">Отдел PTR</label>
                                    </li>
                                    <li>
                                        <input id="10" type="checkbox"/>
                                        <label for="10">Отдел PRR</label>
                                    </li>
                                    <li>
                                        <input id="11" type="checkbox"/>
                                        <label for="11">Отдел PR</label>
                                    </li>
                                    <li>
                                        <input id="12" type="checkbox"/>
                                        <label for="12">Отдел PTR</label>
                                    </li>
                                    <li>
                                        <input id="13" type="checkbox"/>
                                        <label for="13">Отдел PRR</label>
                                    </li>
                                    <li>
                                        <input id="14" type="checkbox"/>
                                        <label for="14">Отдел PR</label>
                                    </li>
                                    <li>
                                        <input id="15" type="checkbox"/>
                                        <label for="15">Отдел PTR</label>
                                    </li>
                                    <li>
                                        <input id="16" type="checkbox"/>
                                        <label for="16">Отдел PRR</label>
                                    </li>
                                    <li>
                                        <input id="17" type="checkbox"/>
                                        <label for="17">Отдел PR</label>
                                    </li>
                                    <li>
                                        <input id="18" type="checkbox"/>
                                        <label for="18">Отдел PTR</label>
                                    </li>
                                    <li>
                                        <input id="19" type="checkbox"/>
                                        <label for="19">Отдел PRR</label>
                                    </li>
                                    <li>
                                        <input id="20" type="checkbox"/>
                                        <label for="20">Отдел PR</label>
                                    </li>
                                    <li>
                                        <input id="21" type="checkbox"/>
                                        <label for="21">Отдел PTR</label>
                                    </li>
                                    <li>
                                        <input id="22" type="checkbox"/>
                                        <label for="22">Отдел PRR</label>
                                    </li>
                                    <li>
                                        <input id="23" type="checkbox"/>
                                        <label for="23">Отдел PR</label>
                                    </li>
                                    <li>
                                        <input id="24" type="checkbox"/>
                                        <label for="24">Отдел PTR</label>
                                    </li>
                                    <li>
                                        <input id="25" type="checkbox"/>
                                        <label for="25">Отдел PRR</label>
                                    </li>
                                    <li>
                                        <input id="26" type="checkbox"/>
                                        <label for="26">Отдел PR</label>
                                    </li>
                                    <li>
                                        <input id="27" type="checkbox"/>
                                        <label for="27">Отдел PTR</label>
                                    </li>
                                    <li>
                                        <input id="28" type="checkbox"/>
                                        <label for="28">Отдел PRR</label>
                                    </li>
                                </perfect-scrollbar>
                            </ul>

                        </div>
                    </div>
                </div>
</script>

<script type="text/ng-template" id="newPhoto.html">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon-profile icon-upload"></p>
            <span>Загрузка новой фотографии</span>
        </h3>
    </div>
    <div class="modal-body" ng-controller="fileCtrl">
        <form action="/profile/change-photo/11/" method="post"  class="add-photo">
            <label for="photo">Обзор файлов</label>
            <input type="file" id="photo" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
        </form>
    </div>
</script>

<script type="text/ng-template" id="delPeople.html">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon-profile icon-del"></p>
            <span>Точно хотите удалить?</span>
        </h3>
    </div>
    <div class="modal-body">
        <p>Вы уверены что хотите сохранить измененный продукт, удалив его исходную версию? <br /> Для подтверждения действия нажмите "Да". Для сохранения нового продукта без удаления его исхордной версии кликните на кнопку "НАЗАД", затем измените название продукта и нажмите на "Сохранить".</p>
        <form action="" class="yes-no">
            <button class="no-no grey-btn" ng-click="close()">назад</button>
            <button class="yes-yes orange-btn" ng-click="ok()">да</button>
            <div class="no-mores">
                <input type="checkbox" id="no-more"/>
                <label for="no-more">Больше не показывать</label>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="showAgain">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon icon-saves"></p>
            <span>Точно хотите сохранить?</span>
        </h3>
    </div>
    <div class="modal-body">
        <p>Вы уверены что хотите сохранить измененный продукт, удалив его исходную версию? <br /> Для подтверждения действия нажмите "Да". Для сохранения нового продукта без удаления его исхордной версии кликните на кнопку "НАЗАД", затем измените название продукта и нажмите на "Сохранить".</p>
        <form action="" class="yes-no">
            <button class="no-no grey-btn" ng-click="close()">назад</button>
            <button class="yes-yes orange-btn" ng-click="ok()">да</button>
            <div class="no-mores">
                <input type="checkbox" id="no-more"/>
                <label for="no-more">Больше не показывать</label>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="access">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon icon-access"></p>
            <span>Точно хотите сделать доступным только Вам?</span>
        </h3>
    </div>
    <div class="modal-body">
        <p>Вы действительно хотите сделать продукт доступным только Вам? <br /> Ваши коллеги не будут иметь доступа к данному продукту.</p>
        <form action="" class="yes-no">
            <button class="no-no grey-btn" ng-click="close()">назад</button>
            <button class="yes-yes orange-btn" ng-click="ok()">да</button>
            <div class="no-mores">
                <input type="checkbox" id="no-more"/>
                <label for="no-more">Больше не показывать</label>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="dellSotu">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon icon-del"></p>
            <span>Точно хотите удалить?</span>
        </h3>
    </div>
    <div class="modal-body">
        <p>Вы действительно хотите удалить продукт, доступ к которому имеют другие пользователи? <br /> Данный продукт будет удален также с рабочих столов пользователей, имеющих доступ к данному продукту.</p>
        <form action="" class="yes-no">
            <button class="no-no grey-btn" ng-click="close()">назад</button>
            <button class="yes-yes orange-btn" ng-click="ok()">да</button>
            <div class="no-mores">
                <input type="checkbox" id="no-more"/>
                <label for="no-more">Больше не показывать</label>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="dellSotuYou">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon icon-del"></p>
            <span>Точно хотите удалить?</span>
        </h3>
    </div>
    <div class="modal-body">
        <p>Вы действительно хотите удалить данный продукт, доступный только Вам?</p>
        <form action="" class="yes-no">
            <button class="no-no grey-btn" ng-click="close()">назад</button>
            <button class="yes-yes orange-btn" ng-click="ok()">да</button>
            <div class="no-mores">
                <input type="checkbox" id="no-more"/>
                <label for="no-more">Больше не показывать</label>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="chengeNameSotu">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon icon-rename"></p>
            <span>Точно хотите изменить название?</span>
        </h3>
    </div>
    <div class="modal-body">
        <p>Вы действительно хотите изменить название продукта для всех пользователй, имеющих доступ к данном продукту? <br /> Название данного продукта будет изменено для всех пользователей, имеющих доступ к данному продукту.</p>
        <form action="" class="yes-no">
            <button class="no-no grey-btn" ng-click="close()">назад</button>
            <button class="yes-yes orange-btn" ng-click="ok()">да</button>
            <div class="no-mores">
                <input type="checkbox" id="no-more"/>
                <label for="no-more">Больше не показывать</label>
            </div>
        </form>
    </div>
</script>
    <script type="text/ng-template" id="ChangeProductName.html">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon-profile icon-del"></p>
            <span>Точно хотите изменить?</span>
        </h3>
    </div>
    <div class="modal-body">
        <span class="ng-binding">Невозможно изменить продукт-источник. Измените название продукта для создания нового продукта</span>
      </div>
     <form action="" class="add-photo">
        <button class="delPeople" style="margin-top: 75px;" ng-click="close()">Назад</button>
    </form>
</script>
<script type="text/ng-template" id="voteModal">
    <div class="modal-header">
        <h3 class="modal-title">
            <p class="icon-moon-profile icon-del"></p>
            <span>Оценка</span>
        </h3>
    </div>
    <div class="modal-body">
        <span class="ng-binding">Спасибо!</span>
      </div>
     <form action="" class="add-photo">
        <button class="delPeople" style="margin-top: 75px;" ng-click="close()">Ок</button>
    </form>
</script>



