<!DOCTYPE html>
<html id="ng-app" ng-app="exlibris">
<head>
    <meta charset="utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lib/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css?v=1.68">
    <title>Exlibris</title>


    <script>
        var departament_list = {{ departament_list|safe }};
        var groups_list = {{ groups_list|safe }};
        var social_list = {{ social_list|safe }};
    </script>
</head>
<body ng-controller="profileOpen">
<div class="container">
    <div class="wrap-content">
        <div header-height class="wrap-header">
            <header class="header">
                <div class="content">
                    <div class="btn-group">
                        <button class="menu-handle" ng-click="openProfile()">
                            <img src="{{ MEDIA_URL }}css/images/header-left-menu-handle-1.png" alt="menu">
                        </button>
                    </div>
                    <a href="" class="logo icon-moon" ng-click="redirectToIndex($root.baseurl)"></a>

                    <div class="search-form icon-moon">
                        <form action=".">
                            <input type="text">
                            <button>&nbsp;</button>
                        </form>
                    </div>
                    <a href="#" class="profile-handle icon-moon" ng-click="goToMP()"></a>
                    <a href="#" class="right settings icon-moon-profile" ng-click="openSeting()"></a>
                    <a href="#" class="right uploads icon-moon-profile"></a>
                    <a href="#" class="right head-company"><img src="{{ MEDIA_URL }}css/images/header-company.png" alt=""/></a>
                </div>
            </header>
        </div>
        <div class="content">
            {% include 'profileModals.html' %}
{#            {% include 'settingModals.html' %}#}
            {% include 'modalsAngular.html' %}
        </div>
    </div>
</div>
<script type="text/javascript">
    var directory_date = {{ directory_date|safe }},
        category_list = [];
    var category_structure = {{ category_list|safe }};
    var first_category_list = {{ fist_category_list|safe }};
</script>
<script>
    var user = {
        photo: '{{ user.photo.url }}',
        first_name: '{{ user.first_name }}',
        last_name: '{{ user.last_name }}',
        position: '{{ user.position }}',
        departament: '{{ user.last_name }}',
        username: '{{ user.username }}',
        email: '{{ user.email }}',
        phone: '{{ user.phone }}',
        skype: '{{ user.skype }}',
        id: '{{user.id}}'
    };
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-locale_ru-by.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-cookies.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-route.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-animate.min.js"></script>
<script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/profile.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/dropDownCtrl.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/tabsCtrl.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/directives/directives.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dependencies/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dependencies/perfect-scrollbar.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-perfect-scrollbar.js"></script>


</body>
</html>