<div class="wrapper-modal" ng-show="profile">
    <div class="fix-div" ng-click="closeProfile()"></div>
    <div class="content-modal clear" ng-controller="PersonalTabs">
        <div class="left-siderbar">
            <nav>
                <ul>
                    <li><a href="#" class="login icon-moon-profile" ng-class="{active:isActiveTab('profile.html')}"
                           ng-click="onClickTab('profile.html')">{$first_name $} {$ last_name $}</a></li>
                    <li><a href="#" class="feedback-menu icon-moon-profile" ng-class="{active:isActiveTab('feedBack.html')}"
                           ng-click="onClickTab('feedBack.html')">Обратная связь</a></li>
                    <li><a href="#" class="help-enter icon-moon-profile" ng-class="{active:isActiveTab('helpCenter.html')}"
                           ng-click="onClickTab('helpCenter.html')">Справочный центр</a></li>
                    {% if request.user.is_superuser %}
                        <li><a href="/admin/" target="_blank" class="mode-tips icon-moon-profile">Панель администрирования</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="main-inform">
            <div ng-include="currentProfileTab" class="hei100"></div>
            <script type="text/ng-template" id="profile.html">
                <div class="tabs-profile">
                    <div class="people-inform clear">
                        <div class="avatar" ng-controller="fileCtrl">
                            <img ng-src="{$my_photo$}" alt=""/>
                            <div class="new-photo" ng-click="$root.openModalnewPhoto.html('newPhoto.html')" >
                                <p>Загрузить <br/>новую фотографию</p>
                            </div>
                        </div>
                        <div class="name-people">
                            <p class="names">{$ first_name $} {$ last_name $}</p>
                            <p class="company"><img src="{{ company.icon.url }}" alt=""/> <span>{{ company.title }}</span></p>
                        </div>
                    </div>
                    <div ng-controller="TabsCtrl">
                        <tabset>
                            <tab heading="Персональные данные">
                                <form action="." method="post" ng-controller="sentInput">
                                    <p class="title-personal icon-moon-profile">Персональные данные</p>

                                    <div class="form-block">
                                        <label for="name">Имя:</label>
                                        <input id="name" type="text" ng-model="first_name" my-focus="focus"
                                               my-blur="doneEditing1()"/>
                                    </div>
                                    <div class="form-block">
                                        <label for="surname">Фамилия:</label>
                                        <input id="surname" type="text" ng-model="last_name" my-focus="focus"
                                               my-blur="doneEditing1()"/>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Должность:</label>

                                        <p class="profile-fields">{{ user.position }}</p>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Подразделение:</label>

                                        <p class="profile-fields">{{ user.departament }}</p>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Права в системе:</label>

                                        <p>{{ group_name }}</p>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Логин:</label>

                                        <p>{{ user.username }}</p>
                                    </div>
                                    <div class="form-block" ng-controller="oldNewPass">
                                        <div ng-class="{'active': newPass}" class="old-pass div">
                                            <label for="password1">Пароль:</label>
                                            <input id="password1" type="{$ !showPass && 'password' || 'text' $}" name="password1"
                                                   ng-click="newPass = true" ng-model="password1" my-focus="focus"
                                                   my-blur="doneEditing1()" required/>
                                            <i class="icon-moon-profile seePass" ng-click="showPass = !showPass"
                                               ng-class="{'seePassAll': showPass}"></i>
                                            <span class="del-right js-del" ng-click="delPass('true')">x</span>
                                        </div>
                                        <div class="new-pass" ng-show="newPass">
                                            <label for="password2">Повторный ввод пароля:</label>
                                            <input id="password2" type="password" ng-class="class" name="password2"
                                                   ng-model="password2" my-focus="focus" my-blur="doneEditing2()" required/>
                                        </div>
                                    </div>
                                    <p class="title-contact icon-moon-profile">Контакты</p>

                                    <div class="form-block">
                                        <label for="">E-mail:</label>
                                        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Телефон:</label>

                                        <p>{{ user.phone }} 23 </p>
                                    </div>
                                    <div class="form-block">
                                        <label for="">Skype:</label>
                                        <a href="callto:{{ user.skype }}" class="skype-link icon-moon-profile">{{ user.skype }}</a>
                                    </div>
                                </form>
                                <div class="wrapp-social">
                                    <p class="title-social icon-moon-profile">Профили в социальных сетях</p>

                                    <div ng-controller="newSocial">
                                        <div class="form-block">
                                            <div ng-repeat="elem in social_list" class="focus-green"
                                                 ng-class="{ 'active': $index == socialAdd.selected}"
                                                 ng-hide="show{$ elem.id $}"
                                                 ng-click="socialAdd.selected = $index">
                                                <label for="">{$ elem.title $}:</label>
                                                <input class="green-text" onClick="window.open='{$ elem.link $}'" type="text" value="{$ elem.link $}">
                                                <span class="del-right" ng-click="delSocial(elem.id)">x</span>
                                            </div>
                                        </div>

                                        <div class="form-block">
                                            <span class="icon-moon plusSocial" ng-click="newSocial = !newSocial"></span>
                                        </div>
                                        <div class="new-social" ng-show="newSocial">
                                            <input id="titleSocial" name="titleSocial" type="text" ng-model="titleSocial"
                                                   my-focus="focus" my-blur="doAddSocial()" required/>
                                            <input id="nameSocial" name="nameSocial" type="text" ng-model="nameSocial"
                                                   my-focus="focus" my-blur="doAddSocial()" required/>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Компания">
                                <form action="">
                                    <p class="title-company icon-moon-profile">Данные о компании</p>

                                    <div class="form-block">
                                        <label for="name">Компания:</label>

                                        <p>{{ company.title }}</p>
                                    </div>
                                    <div class="form-block">
                                        <label for="name">Город:</label>

                                        <p>{{ company.city }}</p>
                                    </div>
                                    <div class="form-block">
                                        <label for="name">Сайт:</label>
                                        <a href="http://{{ company.site }}" target="_blank">{{ company.site }}</a>
                                    </div>
                                    <div class="form-block">
                                        <label for="name">Социальные сети:</label>
                                        <a href="http://{{ company.social }}" target="_blank">{{ company.social }}</a>
                                    </div>
                                    <p class="title-company-table icon-moon-profile">Данные о пользователях системы в компании</p>

                                    <div class="table-company">
                                        <div class="row-header clear">
                                            <div>
                                                <p>Подразделение</p>
                                            </div>
                                            <div>
                                                <p>Количество пользователей</p>
                                            </div>
                                        </div>
                                        {% for elem in company.get_department_list %}
                                            <div class="row-table clear">
                                                <div><p>{{ elem.title }}</p></div>
                                                <div><span>{{ elem.get_user_count }}</span></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </tab>
                            <tab heading="Сотрудники">
                                <form action="">
                                    <p class="title-people-table icon-moon-profile">Данные о сотрудниках</p>

                                    <div class="table-company-people">
                                        <div class="row-header clear">
                                            <div>
                                                <p>Сотрудник</p>
                                            </div>
                                            <div>
                                                <p>Права</p>
                                            </div>
                                            <div>
                                                <p>Подразделение</p>
                                            </div>
                                            <div>
                                                <p>E-mail</p>
                                            </div>
                                            <div></div>
                                        </div>

                                        {% for elem in company.get_user_list %}
                                            <div class="row-table clear green-border" ng-controller="lists">
                                                <div><p>{{ elem.first_name }} {{ elem.last_name }}</p></div>
                                                <div class="select-wrap drop-select">
                                                    <p class="icon-moon small-paragraf" ng-click="showList = !showList"
                                                       ng-class="{'actives' : showList}"
                                                       ng-init="group = '{{ elem.groups.all|first }}'">{$ group $}</p>
                                                    <ul class="js-list-drop" ng-show="showList">
                                                        <li ng-repeat="group in groups_list"
                                                            ng-click="changeAttr('group', group.id, group.name)">{$ group.name $}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="select-wrap drop-select drop-select-long">
                                                    <p class="icon-moon" ng-click="showListBig = !showListBig"
                                                       ng-class="{'actives' : showListBig}"
                                                       ng-init="department_id = '{{ elem.department.title }}'"> {$ department_id
                                                        $}</p>
                                                    <ul class="js-list-drop" ng-show="showListBig">
                                                        <li ng-repeat="department in departament_list"
                                                            ng-click="changeAttr('department_id', department.id, department.title) ">
                                                            {$ department.title $}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div><a href="mailto:{{ user.email }}" class="email-table">{{ elem.email }}</a></div>
                                                <div><p class="del-people"
                                                        ng-click="$root.openModaluserId('delPeople.html', '{{ elem.id }}')">x</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </tab>
                        </tabset>
                    </div>

                </div>
            </script>
            <script type="text/ng-template" id="feedBack.html">
                <div class="feedBack-head">
                    <p><span class="icon-moon feedB"></span>Обратная связь</p>
                </div>
                <form action="" ng-controller="sendFeedback" class="feed-textarea"><!-- ng-submit="submit()" -->
                    <textarea name="" id="" ng-model="feedback_text"></textarea>
                    <button class="orange-btn" ng-click="closeProfile()">Отправить</button>
                </form>
            </script>
            <script type="text/ng-template" id="helpCenter.html">
                <div class="tab-helper hei100" ng-controller="directoryCenter">
                    <div class="feedBack-head">
                        <p><span class="icon-moon spravka"></span>Справочный центр</p>
                    </div>
                    <div class="dynamic-breadcrumbs breadcrumbs-profile">

                        <p class="dynamic-breadcrumbs" dynamic-breadcrumbs-new></p>
                    </div>
                    <perfect-scrollbar scrolls class="scroll-help" first-category="first_category_list" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">


                        <div class="anchor">
                            <p>Переход к разделу:</p>
                            <ul>
                                <li ng-repeat="category in directory_date"><a href="#category-{$ category.id$}">{$
                                    category.title$}</a></li>

                            </ul>
                        </div>
                        <div class="some-article" ng-repeat="category in directory_date">
                            <a class="title-help-category" id="{$category.id$}" name="category-{$ category.id$}" id="{$ cat.id$}"
                               category-direct>{$ category.title$}</a>

                            <div ng-bind-html="category.text"></div>
                            <div class="about-article">
                                <p>Оглавление:</p>
                                <ul>
                                    <li ng-repeat="cat in category.children"><a href="#cat-{$ cat.id$}">&#8250; {$cat.title$}</a>
                                    </li>

                                </ul>
                            </div>
                            <div ng-repeat="cat in category.children">
                                <p class="contents"><a name="cat-{$ cat.id$}" id="{$cat.id$}" category-direct>{$cat.title$}</a></p>

                                <div ng-bind-html="cat.text"></div>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </script>
            <script type="text/ng-template" id="modeTips.html">
                <div class="tab-hint">
                    <p>hint</p>
                </div>
            </script>
        </div>
    </div>
</div>