<div class="wrapper-modal settings_modal" ng-show="settings">
    <div class="fix-div" ng-click="closeSetting()"></div>
    <div class="content-modal right-settings clear" ng-controller="PersonalTabs">
        <div class="main-setting">
            <div ng-include="currentSettingTab" class="hei100"></div>
            <script type="text/ng-template" id="amendment.html">
                {#                        <div class="block-changes">#}
                {#                            <div class="change-product">#}
                {#                                <p>Мониторинг СМИ</p>#}
                {#                                <img src="{{ MEDIA_URL }}images/bg-change-product1.png" alt=""/>#}
                {#                            </div>#}
                {#                            <div class="change-product" style="pointer-events: none;">#}
                {#                                <p>Мониторинг SMI</p>#}
                {#                                <img src="{{ MEDIA_URL }}images/bg-change-product1.png" alt=""/>#}
                {#                            </div>#}
                {#                            <div class="change-product" style="pointer-events: none;">#}
                {#                                <p>Аналитический дэшборд</p>#}
                {#                                <img src="{{ MEDIA_URL }}images/bg-change-product1.png" alt=""/>#}
                {#                            </div>#}
                {#                        </div>#}

                <div class="head-setting clear" ng-controller="filterUpdateNew">
                    <div class="emblems">
                        <p>{$ product.date_start $} <br/> - {$ product.date_end $}</p>
                        <p>мониторинг</p>
                        <p class="name">{$ product.title $}</p>
                    </div>
                    <div class="head-title">
                        <input type="text" ng-model="product.title" class="setting-product-title">
                        <p>({$ product.date_start $} - {$ product.date_end $})</p>
                    </div>
                    <div class="drops" ng-controller="dropsDown">
                        <div class="drop-p-down" ng-init="loadSources()">
                            <p ng-class="{'active': source}" ng-click="openSource()" ng-bind="current_source.title">Источник</p>
                            <ul ng-show="source">
                                <li ng-repeat="item in sources"><a href="#" ng-click="changeSources(item.id)" ng-bind="item.title"></a></li>
                            </ul>
                        </div>
                        <div class="drop-p-down">
                            <p ng-class="{'active': periodicity}" ng-click="openPeriodicity()" ng-init="initPeriodicity()">{$ product.type|monitoringPeriodicity $}</p>
                            <ul ng-show="periodicity">
                                <li><a ng-click="setProductType('day')" href="#">Ежедневно</a></li>
                                <li><a ng-click="setProductType('week')" href="#">Еженедельно</a></li>
                                <li><a ng-click="setProductType('month')" href="#">Ежемесячно</a></li>
                                <li><a ng-click="setProductType('period')" href="#">Заданный период</a></li>
                            </ul>
                        </div>
                    </div>
                    <perfect-scrollbar scrolls class="scroll-filter" first-category="first_category_list" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                        <div class="custom-filter-edit clear">
                            <div class="filter-left" ng-class="{disabled: ['date_release', 'date_upload', 'period'].indexOf(product.type) == -1}" style="background: none">
                                <div class="fons"></div>
                            <div class="f-row wrap-datepicker">
                                <div class="f-row__inner">
                                    <p class="text-title text-title_inline">Дата выхода</p>
                                    <div class="radio-btn left">
                                        <input class="radio-btn__text-field" type="radio" ng-model="product.type" id="data-released-1" value="date_release" ng-change="clearTime()">
                                        <label class="radio-btn__label radio-btn__label_circle" for="data-released-1"></label>
                                    </div>
                                    <div class="element">
                                        <button class="datepicker-icon icon-moon" ng-click="toggleDatePicker($event, 'openedStartRelease')" id="datepicker-1" ng-disabled="product.type!='date_release'"></button>
                                        <input type="text"
                                               ng-change="getCountOfArticles('datepicker-1')"
                                               datepicker-popup="dd.MM.yyyy"
                                               starting-day="0"
                                               ng-model="product.date_release_start"
                                               show-button-bar="false"
                                               is-open="openedStartRelease"
                                               ng-required="true"
                                               ng-disabled="product.type!='date_release'"
                                               ng-click="toggleDatePicker($event, 'openedStartRelease')"/>
                                    </div>
                                    <div class="element element-right">
                                        <button class="datepicker-icon icon-moon" ng-click="toggleDatePicker($event, 'openedEndRelease')" id="datepicker-2" ng-disabled="product.type!='date_release'"></button>
                                        <input type="text"
                                               ng-change="getCountOfArticles('datepicker-2')"
                                               datepicker-popup="dd.MM.yyyy"
                                               starting-day="0"
                                               ng-model="product.date_release_end"
                                               show-button-bar="false"
                                               is-open="openedEndRelease"
                                               ng-required="true"
                                               ng-disabled="product.type!='date_release'"
                                               ng-click="toggleDatePicker($event, 'openedEndRelease')"/>
                                    </div>
                                </div>
                            </div>
                            <div class="f-row wrap-datepicker">
                                <div class="f-row__inner">
                                    <p class="text-title text-title_inline">Дата загрузки</p>
                                    <div class="radio-btn left">
                                        <input class="radio-btn__text-field" type="radio" ng-model="product.type" id="data-uploads-1" value="date_upload">
                                        <label class="radio-btn__label radio-btn__label_circle" for="data-uploads-1"></label>
                                    </div>
                                    <div class="element">
                                        <button class="datepicker-icon icon-moon" ng-click="toggleDatePicker($event, 'openedStart')" id="datepicker-3" ng-disabled="product.type!='date_upload'"></button>
                                        <input type="text"
                                               ng-change="getCountOfArticles('datepicker-3')"
                                               datepicker-popup="dd.MM.yyyy"
                                               starting-day="0"
                                               ng-model="product.date_upload_start"
                                               show-button-bar="false"
                                               is-open="openedStart"
                                               ng-required="true"
                                               ng-disabled="product.type!='date_upload'"
                                               ng-click="toggleDatePicker($event, 'openedStart')"/>
                                    </div>
                                    <div class="element element-right">
                                        <button class="datepicker-icon icon-moon" ng-click="toggleDatePicker($event, 'openedEnd')" id="datepicker-4" ng-disabled="product.type!='date_upload'"></button>
                                        <input type="text"
                                               ng-change="getCountOfArticles('datepicker-4')"
                                               datepicker-popup="dd.MM.yyyy"
                                               starting-day="0"
                                               ng-model="product.date_upload_end"
                                               show-button-bar="false"
                                               is-open="openedEnd"
                                               ng-required="true"
                                               ng-disabled="product.type!='date_upload'"
                                               ng-click="toggleDatePicker($event, 'openedEnd')"/>
                                    </div>
                                </div>
                            </div>
                            <div class="f-row wrap-datepicker f-row_time" ng-show="product.type=='date_upload'">
                                <div>
                                    <input id="time-1" input-mask alias="hh:mm:ss" ng-model="product.time_upload_start" type="text" ng-change="getCountOfArticles('time-1')" ng-disabled="product.type!='date_upload'"/>
                                </div>
                                <div>
                                    <input id="time-2" input-mask alias="hh:mm:ss" ng-model="product.time_upload_end" type="text" ng-change="getCountOfArticles('time-2')" ng-disabled="product.type!='date_upload'"/>
                                </div>
                            </div>
                            <div class="f-row wrap-datepicker f-row_time" ng-show="dateTypeSend == 'date' && haveReleaseTime()">
                                <div>
                                    <input id="time-3" input-mask alias="hh:mm:ss" ng-model="timeStartRelease" type="text" ng-change="getCountOfArticles('time-3')"/>
                                </div>
                                <div>
                                    <input id="time-4" input-mask alias="hh:mm:ss" ng-model="timeEndRelease" type="text" ng-change="getCountOfArticles('time-4')"/>
                                </div>
                            </div>

</div>
                            <div class="f-row" ng-repeat="sort in sortableNewFilters" ng-class="{'filter-left': !is_right($index), 'filter-right': is_right($index)}">

                                <div ng-if="!isCustomFilter(sort[0])" ng-class="{$ sort[0] $}">
                                    <filter-custom-container ng-if="!isRangeFilter(sort[0])" mentionObjects="getMentionObjects(sort[0])" filter="newFilters[sort[0]]" setings="settings" show_slide="show_slider" key="sort[0]"
                                                             action="newFilterData(sort[0])"
                                                             hide-f-d="hideFederalDistrict">
                                    </filter-custom-container>

                                    <range-filter-new-container ng-if="isRangeFilter(sort[0])" filter="newFilters[sort[0]]" mentionObjects="getMentionObjects(sort[0])" setings="settings" show_slide="show_slider" key="sort[0]"></range-filter-new-container>
                                    <span ng-if="$last" ng-init="alineFilters()"></span>
                                </div>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <div class="block-changes">
                    <button class="orange-btn" ng-click='saveProduct()'>сохранить</button>
                </div>
            </script>
            <script type="text/ng-template" id="settingDisplay.html" >
                <div class="head-setting clear">
                    <div class="emblems">
                        <p>{$ product.date_start $}  <br/> - {$ product.date_end $}</p>
                        <p>мониторинг</p>
                        <p class="name">{$ product.title $}</p>
                    </div>
                    <div class="head-title">
                        <p>Мониторинг {$ product.title $}</p>
                        <p>({$ product.date_start $} - {$ product.date_end $})</p>
                    </div>
                </div>
                <div class="body-setting">
                    <div class="check-body clear" >
                        <div>
                            <p>Основное:</p>
                            <ul>
                                <li ng-repeat="it in main_list"><input type="checkbox" id="{$it.id$}" checklist-model="date_checked.main_list" checklist-value="it" /><label for="{$it.id$}">{$it.text$}</label></li>
                            </ul>
                        </div>
                        <div>
                            <p>СМИ:</p>
                            <ul>
                                <li ng-repeat="it in media_list"><input type="checkbox" id="{$it.id$}" checklist-model="date_checked.media_list" checklist-value="it" /><label for="{$it.id$}">{$it.text$}</label></li>
                                li>
                            </ul>
                            <p>География:</p>
                            <ul>
                                <li ng-repeat="it in geography_list"><input type="checkbox" id="{$it.id$}" checklist-model="date_checked.geography_list" checklist-value="it" /><label for="{$it.id$}">{$it.text$}</label></li>
                            </ul>
                        </div>
                        <div>
                            <p>Показатели:</p>
                            <ul>
                                <li ng-repeat="it in indicators_list"><input type="checkbox" id="{$it.id$}" checklist-model="date_checked.indicators_list" checklist-value="it" /><label for="{$it.id$}">{$it.text$}</label></li>
                            </ul>
                            <p>Упоминаемость:</p>
                            <ul>
                                <li ng-repeat="it in mention_list"><input type="checkbox" id="{$it.id$}" checklist-model="date_checked.mention_list" checklist-value="it" /><label for="{$it.id$}">{$it.text$}</label></li>
                            </ul>
                        </div>
                    </div>
                    <button class="orange-btn" ng-click='saveSettings()'>сохранить</button>

                </div>
            </script>
            <script type="text/ng-template" id="settingAccess.html">
                <div class="head-setting clear">
                    <div class="emblems">
                        <p>{$ product.date_start $} <br/> - {$ product.date_end $}</p>
                        <p>мониторинг</p>
                        <p class="name">{$ product.title $}</p>
                    </div>
                    <div class="head-title-big">
                        <p>Мониторинг {$ product.title $}</p>
                        <p>({$ product.date_start $} - {$ product.date_end $})</p>
                        <div>
                            <p>Создан пользователем: <span ng-bind="product.created_by"></span> <br /><span ng-bind="product.created"></span></p>
                            <p>Изменен пользователем: <span ng-bind="product.changed_by"></span> <br /><span ng-bind="product.changed"></span></p>
                        </div>
                    </div>
                </div>
                <div ng-controller="accessCtrl">
                    <div ng-class="{'no-disabled': permissions.can_change_product, 'disabled': !permissions.can_change_product}">
                    <div class="radioButton" style="margin-left: 165px;" >
                        <span>доступен мне</span>
                        <div class="handler-check" ng-class="{'left-side': available_only_for_me, 'right-side': !available_only_for_me}" ng-click="changeAvailability()"></div>
                        <span>доступен другим</span>
                    </div>
                    <div id="body-access" class="body-access clear" ng-class="{'left-side': available_only_for_me, 'right-side': !available_only_for_me}">
                        <div class="dosnt-select"></div>
                        {#                    <div class="line"></div>#}
                        <div class="access-for">
                            <p>Доступен для:</p>

                            <perfect-scrollbar  scrolls class="scroll-people" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                                <div id="list-people" ng-repeat="dep in selected_departments">
                                    <div class="block-access">
                                        <p class="otdel-access noselect">{$ dep.title $}<span ng-click="delDepartment(dep.id)">X</span></p>
                                    </div>
                                    <div class="block-access"  ng-repeat="user in dep.users">
                                        <p class="people-access noselect">{$ user.name $}<span ng-click="delPeople(user.id)">X</span></p>
                                    </div>
                                </div>
                            </perfect-scrollbar>
                        </div>
                        <div class="access-who">
                            <div class="access-drop-down">
                                <p class="noselect " ng-click="openOtdel()" ng-class="{'': !otdel, 'up': otdel}">Отдел<span class="icon-moon otdel"></span></p>
                                <ul ng-show="otdel">
                                    <perfect-scrollbar scrolls class="scroll-drop" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                                        <li ng-repeat="department in company.departments">
                                            <input id="{$ department.id $}" type="checkbox" ng-model="department.selected" ng-change="departmentAdd(department.id, department.title)"/>
                                            <label for="{$ department.id $}">{$ department.title $}</label>
                                        </li>
                                    </perfect-scrollbar>
                                </ul>
                            </div>
                            <div class="access-drop-down">
                                <p class="noselect " ng-click="openPeople()" ng-class="{'': !people, 'up': people}">Пользователь<span class="icon-moon people"></span></p>
                                <ul ng-show="people">
                                    <perfect-scrollbar scrolls class="scroll-drop" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                                        <li ng-repeat="user in users">
                                            <input id="{$ user.id $}" ng-change="userAdd(user.id)" type="checkbox" ng-model="user.selected"/>
                                            <label for="{$ user.id $}">{$ user.name $}</label><!-- ng-click="userAdd(user.id, user.name)" -->
                                        </li>
                                    </perfect-scrollbar>
                                </ul>

                            </div>
                        </div>
                    </div>
                    </div>
                    <button class="orange-btn saveAccess" ng-click="saveHavingAccessUsers()">сохранить</button> <!-- ng-click="$root.openModal('chengeNameSotu')" -->
                </div>
            </script>
        </div>
        <div class="right-siderbar">
            <nav>
                <ul>
                    <li><a href="#" class="change_product icon-moon" ng-class="{active:isActiveSetTab('amendment.html')}" ng-click="onClickSetTab('amendment.html')">Изменение продукта</a></li>
                    <li><a href="#" class="setting-visibly icon-moon" ng-class="{active:isActiveSetTab('settingDisplay.html')}" ng-click="onClickSetTab('settingDisplay.html')">Настройка отображения</a></li>
                    <li><a href="#" class="access-setting icon-moon" ng-class="{active:isActiveSetTab('settingAccess.html')}" ng-click="onClickSetTab('settingAccess.html')">Настройка доступа</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>