.widget-priorities, .widget-monitoring {
	display: none;
}
.widget-priorities .field-project > div {
	overflow: hidden;
	margin-bottom: 10px;
}
.c-priorities {
	padding: 10px;
	border: 1px solid #ccc;
	width: 300px;
}
.c-priorities ul {
	margin: 0 !important;
	padding: 0 !important;
}
.c-priorities ul li {
	margin-top: 10px;
	list-style: none;
	text-align: right;
	position: relative;
	background: url(../img/under-line.png) 0 13px repeat-x;
}
.c-priorities ul li:first-child {
	margin-top: 0;
}
.c-priorities ul li label {
	float: left;
	background: #fff;
	text-align: left;
	padding-top: 0;
	padding-right: 6px;
}
.c-priorities ul li .page {
	background: #fff;
	text-align: right;
}
.c-priorities ul li .page input {
	vertical-align: middle;
	width: 20px;
	margin: 0;
	margin-top: -4px;
	margin-left: 6px;
}
.widget-monitoring .field-project label {
	width: auto;
}
.widget-monitoring .column {
	float: left;
	width: 367px;
}
.widget-monitoring .list-of-object {

}
.widget-monitoring .list-of-object ul {
	margin: 0;
	padding: 0;
}
.widget-monitoring .list-of-object ul li {
	height: 22px;
	list-style: none;
	margin-bottom: 5px;
}
.widget-monitoring .list-of-object ul li .left {
	float: left;
	border: 1px solid #ccc;
	width: 337px;
}
.widget-monitoring .list-of-object ul li .right {
	float: right;
}
.widget-monitoring .list-of-object ul li label {
	width: 276px;
	padding: 0;
	line-height: 18px;
	float: left;
	border: none;
	padding-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.widget-monitoring .list-of-object ul li .active {
	background: #666666;
	color: #fff;
}
.widget-monitoring .list-of-object ul li input[type="checkbox"] {
	margin-top: 3px;
	margin-left: 5px;
}
.widget-monitoring .list-of-object .column {
	position: relative;
}
.widget-monitoring .list-of-object ul li .color-picker {
	width: 12px;
	background: #666666;
	height: 12px;
	float: left;
	margin-top: 3px;
	cursor: pointer;
}
.widget-monitoring .vertical-scroll {
	width: 2px;
	height: 100%;
	background: #666666;
	position: absolute;
	right: 10px;
	top: 0;
}
.vertical-scroll .arrow {
	position: absolute;
	width: 12px;
	height: 19px;
	top: 1px;
	right: 0;
	background: url(../img/arrow_2px.png) right center no-repeat;
	-webkit-transition: top .3s ease-in-out;
	-moz-transition: top .3s ease-in-out;
	-o-transition: top .3s ease-in-out;
	-ms-transition: top .3s ease-in-out;
	transition: top .3s ease-in-out;
}
.keywords-block input[type="text"] {
	margin: 0;
	height: 14px;
	width: 160px;
}
.keywords-block section {
	display: none;
}
.widget-monitoring .list-of-object .column:first-child li {
	margin-bottom: 0;
	margin-top: 5px;
	position: relative;
}
.widget-monitoring .list-of-object .column:first-child li:first-child {
	margin-top: 0;
}
.add-keyword {
	background: white url(../img/nav-bg.gif) bottom repeat-x;
	padding: 3px 5px;
	color: black;
	border: 1px solid #bbb;
	border-color: #ddd #aaa #aaa #ddd;
	margin: 0;
}
.field-day_start, .field-time_start, .field-title, .field-type {
	display: none;
}
.color-swatches {
	margin-top: 3px;
	margin-left: 5px;
	width: 12px;
	height: 12px;
	float: left;
	background: url(../../../media/css/images/sprite.png) -206px -13px;
	cursor: pointer;
}
.color-swatches-block {
	position: absolute;
	right: -12px;
	top: 22px;
	width: 73px;
	height: 56px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	background: #fff;
	z-index: 5;
}
.color-swatches-block .wrap {
	margin: 5px 0 5px 5px;
}
.color-swatches-block .wrap > span {
	float: left;
	width: 12px;
	height: 12px;
	margin: 0 5px 5px 0;
	background: red;
	cursor: pointer;
}