<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Exlibris</title>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <script src="js/lib/jquery-1.11.1.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
		<style type="text/css">html,*{filter: none;}</style>
	<!-->
	    <script src="js/lib/jquery-2.1.1.min.js"></script>
	<!--[endif]-->
</head>
<body>
	<img src="d:\ttt.png" alt="" style="pointer-events: none; z-index: 2; position: absolute; opacity: .3;left: 151px;display: none;"/>
	<div class="container">
		<div class="wrap-content">
			<header class="header blalala">
				<div class="content">
					<a href="#" class="menu-handle">&nbsp;</a>
					<div class="search-form">
						<form action=".">
							<input type="text">
							<button>&nbsp;</button>
						</form>
					</div>
					<a href="#" class="profile-handle">&nbsp;</a>
					<a href="" class="settings-handle">&nbsp;</a>
				</div>
			</header>
{% block content %}
            {% endblock %}
		</div>
	</div>
	<footer class="footer">
		<div class="content">
			<div class="wrap">
				<a href="#" class="exit">&nbsp;</a>
				<a href="#" class="copy">&nbsp;</a>
				<a href="#" class="like">&nbsp;</a>
				<a href="#" class="check">&nbsp;</a>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>