<!DOCTYPE html>
<html id="ng-app" ng-app="exlibris">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lib/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css?v=1.68">
	<title>Exlibris</title>
	<!--[if lte IE 8]>
		<script>
			document.createElement('ng-include');
			document.createElement('ng-pluralize');
			document.createElement('ng-view');

			// Optionally these for CSS
			document.createElement('ng:include');
			document.createElement('ng:pluralize');
			document.createElement('ng:view');
		</script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <script src="{{ MEDIA_URL }}js/lib/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
		<style type="text/css">html,*{filter: none;}</style>
	<!-->
	    <script src="{{ MEDIA_URL }}js/lib/jquery.min.js"></script>
	<!--<![endif]-->
</head>
<body>
	<div class="content" ng-controller="vidgetNullCtrl">
		<div class="constructor-wrapper">
			<div class="configuration clear" ng-if="configuration">
				<a href class="rigid-btn rigid-btn_little rigid-btn_grey" ng-click="upload()">Загрузить</a>
				<select select-menu append-to=".configuration" list="configurations"
					ng-model="configuration" ng-options="conf.value as conf.label for conf in configurations"></select>
			</div>
			<table class="constructor">
				<thead>
					<tr>
						<th>Фильтр&nbsp;из&nbsp;БД</th>
						<th>Как<br/>переименовать?</th>
						<th>Порядок<br/>отображения&nbsp;в<br/>списке&nbsp;фильтров</th>
						<th>Тип&nbsp;данных<br/>в поле</th>
						<th>Привязка&nbsp;(отношение)<br/>к&nbsp;упоминаемому<br/>объекту?</th>
						<th>Это&nbsp;поле<br/>с&nbsp;LookUp?</th>
						<th>Перерасчет<br/>вариантов&nbsp;значений<br/> в фильтре</th>
						<th>Укажите&nbsp;значение<br/>по&nbsp;умолчанию&nbsp;для<br/>пустых&nbsp;значений*</th>
						<th>Для&nbsp;числовых<br/>полей в виде шкалы или Drop-down list?</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="filter in filters track by $index">
						<!-- Фильтр из БД -->
						<td>{$ filter.a1 $}</td>
						<!-- Как переименовать? -->
						<td><input type="text" ng-model="filter.a2" placeholder="[текст]"></td>
						<!-- Порядок отображения в списке фильтров -->
						<td><input input-mask alias="999" mask-placeholder="empty" ng-model="filter.a3" ng-if="$index > 2" type="text"></td>
						<!-- Тип данных в поле -->
						<td>{$ filter.a4 $}</td>
						<!-- Привязка (отношение) к упоминаемому объекту? -->
						<td>{$ filter.a5 | lowercase $}</td>
						<!-- Это поле с LookUp? -->
						<td>
							<p class="select-wrap" ng-if="$index>2 && filter.a6!='Пусто' && filter.a6!='-' && filter.a6!=''">
								<select select-menu append-to=".constructor-wrapper" icon-button="ui-icon__triangle-little" list="yesNoList"
									ng-model="filter.a6" ng-options="choice.value as choice.label for choice in yesNoList"></select>
							</p>
							<p ng-if="$index<=2">{$ filter.a6 $}</p>
						</td>
						<!-- Перерасчет вариантов значений в фильтре -->
						<td>
							<p class="select-wrap" ng-if="$index>2 && filter.a7!='Пусто' && filter.a7!='-' && filter.a7!=''">
								<select select-menu append-to=".constructor-wrapper" icon-button="ui-icon__triangle-little" list="yesNoList"
									ng-model="filter.a7" ng-options="choice.value as choice.label for choice in yesNoList"></select>
							</p>
						</td>
						<!-- Укажите значение по умолчанию для пустых значений* -->
						<td>
							<input type="text" ng-if="defaultValues(filter)" ng-model="filter.a8">
						</td>
						<!--  -->
						<td>
							<p ng-if="$index<=2">{$ filter.a9 $}</p>
							<p class="select-wrap select-wrap_long" ng-if="$index>2 && filter.a9!='Пусто' && filter.a9!='-' && filter.a9!=''">
								<select select-menu append-to=".constructor-wrapper" icon-button="ui-icon__triangle-little" list="scaleOrList"
									ng-model="filter.a9" ng-options="choice.value as choice.label for choice in scaleOrList"></select>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="save clear">
				<a href class="rigid-btn rigid-btn_big rigid-btn_grey" ng-click="save()">Сохранить</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular.min.js"></script>
	<script>
		var filters = angular.fromJson('{{data|safe}}'.replace(/u'/g, '\'')),
			configurations = [];
		{% for elem in monitoring_products %}
			configurations.push({
				label: '{{elem.title}}',
				value: +'{{elem.id}}'
			});
		{% endfor %}
	</script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-locale_ru-by.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-cookies.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-route.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-animate.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dependencies/inputmask/jquery.inputmask.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/widget-0-constructor.js?v=1.0"></script>
	<!-- Directives -->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/directives/directives.js"></script>
	<!-- End Directives -->
	</body>
</html>