<!DOCTYPE html>
<html id="ng-app" ng-app="exlibris">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}test/css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}test/css/style.css?v=3.0">
	<title>Exlibris</title>
	<!--[if lte IE 8]>
		<script>
			document.createElement('ng-include');
			document.createElement('ng-pluralize');
			document.createElement('ng-view');

			// Optionally these for CSS
			document.createElement('ng:include');
			document.createElement('ng:pluralize');
			document.createElement('ng:view');
		</script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <script src="{{ MEDIA_URL }}js/lib/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
		<style type="text/css">html,*{filter: none;}</style>
	<!-->
	    <script src="{{ MEDIA_URL }}test/js/lib/jquery.min.js"></script>
	<!--<![endif]-->
</head>
<body scroll ng-init="$root.allChecked = false;">
	{% csrf_token %}
	<div ng-show="$root.loadingView" class="preloader show-hide"><span id="loaderImage"></span></div>
	<ng-view></ng-view>
	<script type="text/javascript" src="{{ MEDIA_URL }}test/js/lib/canvas.js"></script>
	<script type="text/javascript">
		var cSpeed=9;
		var cWidth=50;
		var cHeight=50;
		var cTotalFrames=12;
		var cFrameWidth=50;
		var cImageSrc='{{ MEDIA_URL }}/test/js/images/sprites1.gif';
		
		var cImageTimeout=false;
		
		function startAnimation(){
			
			document.getElementById('loaderImage').innerHTML='<canvas id="canvas" width="'+cWidth+'" height="'+cHeight+'"><p>Your browser does not support the canvas element.</p></canvas>';
			
			FPS = Math.round(100/cSpeed);
			SECONDS_BETWEEN_FRAMES = 1 / FPS;
			g_GameObjectManager = null;
			g_run=genImage;

			g_run.width=cTotalFrames*cFrameWidth;
			genImage.onload=function (){cImageTimeout=setTimeout(fun, 0)};
			initCanvas();
		}
		
		
		function imageLoader(s, fun)
		{
			clearTimeout(cImageTimeout);
			cImageTimeout=0;
			genImage = new Image();
			genImage.onload=function (){cImageTimeout=setTimeout(fun, 0)};
			genImage.onerror=new Function('console.log(\'Could not load the image\')');
			genImage.src=s;
		}
		new imageLoader(cImageSrc, 'startAnimation()');
	</script>
	<script type="text/javascript" src="{{ MEDIA_URL }}test/js/lib/angular.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}test/js/lib/angular-locale_ru-by.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}test/js/lib/angular-cookies.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}test/js/lib/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}test/js/lib/angular-route.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}test/js/lib/angular-animate.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}test/js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}test/js/conrtoller-3.0.js?v=1.8"></script>
	<script type="text/ng-template" id="singleArticleTemplate">
		<div class="wrap" ng-class="flagType(item.mention_objects[activeWord].emotional_tone_object, item.mention_objects[activeWord].object_role)">
			<div class="top clear">
				<p class="source">{$ item.source $}
					<span class="dropdown">
						<span class="title-popup-handle icon-moon-svg" ng-mouseenter="showSourcePopup()" ng-mouseleave="hideSourcePopup()"></span>
						<span class="dropdown-menu custom-tooltip" ng-hide="sourcePopup">
							<span ng-show="item.country">{$ item.country $}</span><br/>
							<span ng-show="item.country != item.region && item.region">{$ item.region $}</span><br ng-show="item.country != item.region && item.region"/>
							<span>{$ item.city $}</span><br/>
						</span>
					</span>
					<span class="dropdown">
						<span class="copyright-popup-handle icon-moon-uniE600" ng-mouseenter="showCopyRightPopup()" ng-mouseleave="hideCopyRightPopup()"></span>
						<span class="dropdown-menu custom-tooltip" ng-hide="copyRightPopup">
							<span>{$ item.media_level $}</span><br/>
							<span>{$ item.media_type $}</span><br/>
							<span>{$ item.media_category $}</span><br/>
						</span>
					</span>
				</p>
				<p class="title">{$ item.title $}</p>
			</div>
			<div class="middle">
				<div class="when">
					<span ng-show="item.release_time">{$ item.release_time $}</span>
					<span ng-show="item.date">{$ item.date | date : 'dd.MM.yyyy' $}</span>
					<span class="name" ng-show="item.author">{$ item.author $}
						<i class="author-icon">
							<img src="{{ MEDIA_URL }}css/images/author-icon-1.png" alt="author-icon"/>
						</i>
					</span>
					<span class="dropdown" ng-show="item.url.length">
						<a href="{$ item.url $}" target="_blank" class="big hovered" ng-mouseenter="showUrlPopup()" ng-mouseleave="hideUrlPopup()">URL</a>
						<span class="dropdown-menu custom-tooltip" ng-hide="urlPopup">
							<span>{$ item.url $}</span>
						</span>
					</span>
					<span ng-show="!item.url.length" class="big unactive">URL</span>
				</div>
				<div class="keywords">
					<a href ng-repeat="word in item.mention_objects" ng-class="{active: $index == activeWord}" ng-click="activeWordChange($index)" ng-mouseenter="previewWordChange($index)" ng-mouseleave="returnLastActive()">{$ word.title $}
						<span ng-if="word.speakers.length" ng-bind="renderSpeakers(word.speakers)"></span>
					</a>
				</div>
			</div>
			<div class="preview">
				<p ng-bind-html="paintTheWords(item.annotation, item.mention_objects)"></p>
				<div class="some-info">
					<p class="rupor" render-right-data value="item.mo" popupt="Media Outreach"></p>
					<p class="dollar" render-right-data value="item.mention_objects[activeWord].prv" popupt="PR Value"></p>
					<p class="prt" render-right-data value="item.mention_objects[activeWord].prt" prt="true" popupt="Perfectness Rate"></p>
				</div>
				<a href="" class="desc-arrow icon-moon-uniE601" ng-class="{open: !status.isCollapsed}" ng-click="status.isCollapsed = !status.isCollapsed">&nbsp;</a>
			</div>
			<div class="description" collapse="status.isCollapsed">
				<p ng-bind-html="paintTheWords(item.description, item.mention_objects)"></p>
			</div>
			<div class="check-box">
				<input type="checkbox" name="select-{$ item.id $}" id="select-{$ item.id $}" ng-checked="$root.allChecked">
				<label for="select-{$ item.id $}" class="icon-moon"></label>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="categoryListTemplate">
		<div ng-repeat="cat in category" class='category_item'>
			<h2 title-info ng-if="cat.articles.length" ng-bind="createTitle(name, cat.title)" id="{$ cat.id $}"></h2>
			<section ng-repeat="item in cat.articles" ng-if="cat.articles.length">
	            <single-article item="item"></single-article>
	        </section>
    		<div ng-if="cat.children.length">
        		<category-list category="cat.children" name="createTitle(name, cat.title)"></category-list>
        	</div>
        </div>
	</script>
</body>
</html>