<!DOCTYPE html>
<html ng-app="exlibris">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lib/jquery-ui-1.10.4.custom.min.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css">
	<title>Exlibris</title>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <script src="js/lib/jquery-1.11.1.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
		<style type="text/css">html,*{filter: none;}</style>
	<!-->
	    <script src="{{ MEDIA_URL }}js/lib/jquery-2.1.1.min.js"></script>
	<!--<![endif]-->
</head>
<body scroll ng-init="$root.allChecked = false;">
	<input type="hidden" id="product-id" value="{{ id }}">
	<div class="container">
		<div class="wrap-content">
			<div header-height class="wrap-header" ng-controller="headerCtrl">
				<header class="header">
					<div class="content">
						<div class="btn-group" dropdown is-open="status.isopen">
							<button href class="menu-handle dropdown-toggle">&nbsp;</button>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="item in visibleMenu">
									<a href="" ng-class="{back: item.back}" ng-click="rerenderMenu(item.children, item.id)">{$ item.title $}</a>
								</li>
							</ul>
						</div>
						<a href="#" class="logo"><img src="{{ MEDIA_URL }}css/images/logo.png" alt="logo"></a>
						<div class="search-form">
							<form action=".">
								<input type="text">
								<button>&nbsp;</button>
							</form>
						</div>
						<a href="#" class="profile-handle">&nbsp;</a>
						<a href="#" class="settings-handle">&nbsp;</a>
					</div>
				</header>
				<div class="under-header">
					<div class="content">
						<div class="wrap">
							<p class="title">{$ title $}<span>(<span>100</span>)</span></p>
							<p>{$ dataService.activeTitle $}</p>
							<form>
								<div class="datepicker">
									<div class="element">
										<input type="text" ng-model="date_start" ng-blur="getNewsList()">
									</div>
									<div class="element" ng-if="date_type!='day'">
										<input type="text" ng-model="date_end" ng-blur="getNewsList()">
									</div>
									<a href="#" class="arrow prev">&nbsp;</a>
									<a href="#" class="arrow next">&nbsp;</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="main-content" ng-controller="NewsListCtrl" style="padding-top: {$ dataService.header $}px">
				<div class="content">
					<div class="news">
						<category-list category="category"></category-list>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="content">
			<div class="wrap">
				<a href="#" class="exit">&nbsp;</a>
				<a href="#" class="copy">&nbsp;</a>
				<a href="#" class="like">&nbsp;</a>
				<a href="" class="check" ng-click="$root.allChecked = !$root.allChecked">&nbsp;</a>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-cookies.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery-ui-1.10.4.custom.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery.ui.datepicker-ru.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/controller-last.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
	<script type="text/ng-template" id="singleArticleTemplate">
		<div class="wrap" ng-class="flagType(item.mention_objects[activeWord].emotional_tone_object, item.mention_objects[activeWord].object_role)">
			<div class="top clear">
				<p class="source">{$ item.source $}
					<span class="dropdown">
						<a href class="title-popup-handle dropdown-toggle">&nbsp;</a>
						<span class="dropdown-menu custom-tooltip">
							<span>{$ item.country $}</span><br/>
							<span>{$ item.region $}</span><br/>
							<span>{$ item.city $}</span><br/>
						</span>
					</span>
					<span class="dropdown">
						<a href class="copyright-popup-handle dropdown-toggle">&nbsp;</a>
						<span class="dropdown-menu custom-tooltip">
							<span>{$ item.media_level $}</span><br/>
							<span>{$ item.media_type $}</span><br/>
							<span>{$ item.media_category $}</span><br/>
						</span>
					</span>
				</p>
				<p class="title">{$ item.title $}</p>
			</div>
			<div class="middle">
				<div class="when">
					<span>{$ item.time $}</span>
					<span>{$ item.date $}</span>
					<span class="name">{$ item.author $}</span>
					<a href="{$ item.url $}" target="_blank" class="big hovered">URL</a>
				</div>
				<div class="keywords">
					<a href ng-repeat="word in item.mention_objects" ng-class="{active: $index == activeWord}" ng-click="activeWordChange($index)" ng-mouseenter="previewWordChange($index)" ng-mouseleave="returnLastActive()">{$ word.title $}
						<span ng-if="word.speakers.length" ng-bind="renderSpeakers(word.speakers)"></span>
					</a>
				</div>
			</div>
			<div class="preview">
				<p ng-bind-html="paintTheWords(item.annotation, item.mention_objects)"></p>
				<div class="some-info">
					<p popover-trigger="mouseenter" popover="Media Outreach" class="rupor" render-right-data value="item.mo"></p>
					<p popover-trigger="mouseenter" popover="PR Value" class="dollar" render-right-data value="item.mention_objects[activeWord].prv"></p>
					<p popover-trigger="mouseenter" popover="Perfectness Rate" class="prt" render-right-data value="item.mention_objects[activeWord].prt" prt="true"></p>
				</div>
				<a href="" class="desc-arrow" ng-class="{open: !status.isCollapsed}" ng-click="status.isCollapsed = !status.isCollapsed">&nbsp;</a>
			</div>
			<div class="description" collapse="status.isCollapsed">
				<p ng-bind-html="paintTheWords(item.description, item.mention_objects)"></p>
			</div>
			<div class="check-box">
				<input type="checkbox" name="select-{$ item.id $}" id="select-{$ item.id $}" ng-click="send_articles() sdfsd " sdf sddfs  checklist-model="articles_check" checklist-value="{$ item.id $}" ng-checked="$root.allChecked">
				<label for="select-{$ item.id $}" ></label>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="categoryListTemplate">
		<div ng-repeat="cat in category" class='category_item'>
			<h2 title-info ng-if="cat.articles.length" ng-bind="createTitle(title, cat.title)"></h2>
			<section ng-repeat="item in cat.articles" ng-if="cat.articles.length">
	            <single-article item="item"></single-article>
	        </section>
    		<div ng-if="cat.children.length">
        		<category-list category="cat.children" title="createTitle(title, cat.title)"></category-list>
        	</div>
        </div>
	</script>
</body>
</html>

