<input type="hidden" id="product-id" value="{{ id }}">
<div class="container">
	<div class="wrap-content">
		<div header-height class="wrap-header" ng-controller="headerCtrl">
			<header class="header">
				<div class="content">
					<div class="btn-group" dropdown is-open="status.isopen">
						<button href class="menu-handle dropdown-toggle">
							<img src="{{ MEDIA_URL }}/test/css/images/header-left-menu-handle-1.png" alt="menu">
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="item in visibleMenu">
								<a href="" ng-class="{back: item.back}" ng-click="rerenderMenu(item.children, item.id)">{$ item.title $}</a>
							</li>
						</ul>
					</div>
					<a href="#" class="logo icon-moon"></a>
					<div class="search-form icon-moon">
						<form action=".">
							<input type="text">
							<button>&nbsp;</button>
						</form>
					</div>
					<a href ng-click="goToWidgetNull()" class="profile-handle icon-moon"></a>
					<a href="#" class="settings-handle icon-moon"></a>
				</div>
			</header>
			<div class="under-header">
				<div class="content">
					<div class="wrap">
						<!-- <p class="title">{$ title $}<span></span></p> -->
						<p><span>(<span class="count">{$ dataService.data.articles_count $}</span>)</span>{$ dataService.activeTitle $}</p>
						<form>
							<div class="datepicker">
								<div class="element icon-moon" ng-show="dateType!='day'">
									<input type="text"
										datepicker-popup="dd.MM.yyyy"
										starting-day="0"
										ng-model="dateStart"
										show-button-bar="false"
										is-open="openedStart"
										ng-required="true"
										ng-click="openedStart=!openedStart;openedEnd=false"
										ng-change="getNewsList('first')">
								</div>
								<div class="element icon-moon">
									<input type="text"
										datepicker-popup="dd.MM.yyyy"
										starting-day="0"
										ng-model="dateEnd"
										show-button-bar="false"
										is-open="openedEnd"
										ng-required="true"
										ng-click="openedEnd=!openedEnd;openedStart=false"
										ng-change="getNewsList('second')">
								</div>
								<a href class="arrow prev icon-moon" ng-click="nextPrev('prev')" ng-disabled="true">&nbsp;</a>
								<a href class="arrow next icon-moon" ng-click="nextPrev('next')">&nbsp;</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="main-content" style="padding-top: {$ dataService.header $}px">
			<div class="content">
				<div class="news">
					<category-list category="dataService.data.monitoring_product_template"></category-list>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <footer class="footer">
	<div class="content">
		<div class="wrap">
			<a href="#" class="exit">&nbsp;</a>
			<a href="#" class="copy">&nbsp;</a>
			<a href="#" class="like">&nbsp;</a>
			<a href="" class="check" ng-click="$root.allChecked = !$root.allChecked">&nbsp;</a>
		</div>
	</div>
</footer> -->