<div class="container widget-0" ng-controller="mainsWidget" >
	<div class="wrap-content" ng-controller="WidgetNullController">
		<div header-height class="wrap-header" ng-controller="headerCtrl">
			<header class="header bli">
                <div class="content">
                    <!-- 					<div class="btn-group" dropdown is-open="status.isopen">
						<button href class="menu-handle dropdown-toggle">
							<img src="{{ MEDIA_URL }}css/images/header-left-menu-handle-1.png" alt="menu">
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="item in vibleMenu">
								<a href="" ng-class="{back: item.back, active: item.active}" ng-click="rerenderMenu(item.children, item.id)">{$ item.title $}</a>
							</li>
						</ul>
					</div> -->
                    <div class="btn-group" ng-controller="profileOpen">
                    	<button class="open-profile-modal menu-handle" ng-click="openProfile()" >
                            <img src="{{ MEDIA_URL }}css/images/header-left-menu-handle-1.png" alt="menu">
                        </button>
                    </div>
                    <a href="" class="logo icon-moon" ng-click="redirectToIndex($root.baseurl)"></a>
                    <div class="search-form icon-moon">
                        <form action=".">
                            <input type="text" ng-model="$parent.searchText">
                            <button ng-click="ctrl.filter()">&nbsp;</button>
                        </form>
                    </div>
                    <div class="header-icons header-icons-w0">
                        <hr/>
                        <a href class="check-articles icon-moon-menu" ng-click="$root.allChecked = !$root.allChecked" ng-class="{'check-all': $root.allChecked}"></a>
                        <a href class="share-upload icon-moon-menu" ng-click="openMenu()"></a>
                        <a href="#" class="right settings icon-moon-profile" ng-click="openSetings()" style="float: none;margin: 2px 0 2px 10px;"></a>
                        <!-- <a href ng-click="showHideFiltersList()" class="settings-handl'e icon-moon"></a> -->
                    </div>
                    <ul class="share-dropdown" ng-show="shareMenu" style="right: -7px;">
                        <li class="icon-mail icon-moon-menu" ng-click="generateDoc(dataService.data.product.title)">Отправить по почте {$dataService.data.product.title$}</li>
                        <li class="icon-eng icon-moon-menu" ng-click="generateDoc('translation')">Отправить на перевод</li>
                        <li class="icon-link icon-moon-menu" clip-copy="copyLink()" ng-click="copyLink()">Копировать ссылку</li>
                        <li class="icon-print icon-moon-menu"  ng-click="printArticles()">Отправить на печать</li>

                    </ul>
                </div>

            </header>
		</div>
		<div class="main-content" style="padding-top: {$ dataService.header $}px">

			<div class="content clear">
                <div class="widget0_ssetting">
                    {% include 'settingModals.html' %}
                </div>
                <profile-tmp profile="profile" class="monitoring-product"></profile-tmp>
				<div class="left">
					<div class="current-news">
						<div class="under-header" id="under-header">
							<div class="wrap">
							<div class="valign-middle">
								<div class="valign-middle-inner">
									<p class="count-of-news">(<span class="count dropdown-toggle">{$ dataService.data.articles_count $}</span>)</p>
									<p class="dynamic-breadcrumbs">{$ dataService.activeTitle $}</p>
								</div>
							</div>
							<div class="active-filters clear">
								<p ng-repeat="filter in activeFilters">{$ filter.title $} <a href class="f-close" ng-click="removeFilter(filter)"></a></p>
							</div>
							</div>
						</div>
						<div class="news" style="margin-top: {$ widget0NewsMarginTop $}px">
							<category-list category="dataService.data.monitoring_product_template" search-text="searchText"></category-list>
						</div>
                        <div class="page-pagination">
                            <table>
                                <tr dir-paginate="item in items_list | itemsPerPage: PerPage" total-items="totalItems" current-page="pagination.current">
                                    <td>1</td>

                                </tr>
                            </table>

                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                        </div>
					</div>
				</div>
				<div class="right">
					<div class="custom-filters">

						<div class="f-row wrap-datepicker">
							<div class="f-row__inner">
								<p class="text-title text-title_inline">Дата выхода</p>
								<div class="radio-btn left">
									<input class="radio-btn__text-field" type="radio" ng-model="dateTypeSend" id="data-released" value="date">
									<label class="radio-btn__label radio-btn__label_circle" for="data-released"></label>
								</div>
								<div class="element">
									<button class="datepicker-icon icon-moon" ng-click="toggleDatePicker($event, 'openedStartRelease')" id="datepicker-1"></button>
									<input type="text"
										ng-change="getCountOfArticles('datepicker-1', 'data-released')"
										datepicker-popup="dd.MM.yyyy"
										starting-day="0"
										ng-model="dateStartRelease"
										show-button-bar="false"
										is-open="openedStartRelease"
										ng-required="true"
										ng-click="toggleDatePicker($event, 'openedStartRelease')"/>
								</div>
								<div class="element">
									<button class="datepicker-icon icon-moon" ng-click="toggleDatePicker($event, 'openedEndRelease')" id="datepicker-2"></button>
									<input type="text"
										ng-change="getCountOfArticles('datepicker-2', 'data-released')"
										datepicker-popup="dd.MM.yyyy"
										starting-day="0"
										ng-model="dateEndRelease"
										show-button-bar="false"
										is-open="openedEndRelease"
										ng-required="true"
										ng-click="toggleDatePicker($event, 'openedEndRelease')"/>
								</div>
							</div>
						</div>
						<div class="f-row wrap-datepicker">
							<div class="f-row__inner">
								<p class="text-title text-title_inline">Дата загрузки</p>
								<div class="radio-btn left">
									<input class="radio-btn__text-field" type="radio" ng-model="dateTypeSend" id="data-uploads" value="date_upload">
									<label class="radio-btn__label radio-btn__label_circle" for="data-uploads"></label>
								</div>
								<div class="element">
									<button class="datepicker-icon icon-moon" ng-click="toggleDatePicker($event, 'openedStart')" id="datepicker-3"></button>
									<input type="text"
										ng-change="getCountOfArticles('datepicker-3', 'date_upload')"
										datepicker-popup="dd.MM.yyyy"
										starting-day="0"
										ng-model="dateStart"
										show-button-bar="false"
										is-open="openedStart"
										ng-required="true"
										ng-click="toggleDatePicker($event, 'openedStart')"/>
								</div>
								<div class="element">
									<button class="datepicker-icon icon-moon" ng-click="toggleDatePicker($event, 'openedEnd')" id="datepicker-4"></button>
									<input type="text"
										ng-change="getCountOfArticles('datepicker-4', 'date_upload')"
										datepicker-popup="dd.MM.yyyy"
										starting-day="0"
										ng-model="dateEnd"
										show-button-bar="false"
										is-open="openedEnd"
										ng-required="true"
										ng-click="toggleDatePicker($event, 'openedEnd')"/>
								</div>
							</div>
						</div>
						<div class="f-row wrap-datepicker f-row_time" ng-show="dateTypeSend == 'date_upload'">
							<div>
								<input id="time-1" input-mask alias="hh:mm:ss" ng-model="timeStart" type="text" ng-change="getCountOfArticles('time-1')"/>
							</div>
							<div>
								<input id="time-2" input-mask alias="hh:mm:ss" ng-model="timeEnd" type="text" ng-change="getCountOfArticles('time-2')"/>
							</div>
						</div>
						<div class="f-row wrap-datepicker f-row_time" ng-show="dateTypeSend == 'date' && haveReleaseTime()">
							<div>
								<input id="time-3" input-mask alias="hh:mm:ss" ng-model="timeStartRelease" type="text" ng-change="getCountOfArticles('time-3')"/>
							</div>
							<div>
								<input id="time-4" input-mask alias="hh:mm:ss" ng-model="timeEndRelease" type="text" ng-change="getCountOfArticles('time-4')"/>
							</div>
						</div>


						<div class="f-row" ng-repeat="sort in sortableFilters">
							
							<div ng-if="!isCustomFilter(sort[0])">
								<filter-container ng-if="!isRangeFilter(sort[0])" filter="filters[sort[0]]" key="sort[0]"
									action="filterData(sort[0])"
									hide-f-d="hideFederalDistrict">
								</filter-container>

								<range-filter-container ng-if="isRangeFilter(sort[0])" filter="filters[sort[0]]" key="sort[0]"></range-filter-container>

							</div>

						</div>


					</div>
				</div>
				<div class="window-badge window-badge_triangle-right" id="window-badge" ng-show="windowBadge.show">
					<span>Найдено сообщений: {$ windowBadge.countOfNews $}</span>
					<a href ng-click="showFilteredArticles(false)" ng-class="{disable: windowBadge.isDisable}">Показать</a>
				</div>
				<div class="window-badge window-badge_centered" ng-show="windowBadgeMuch.show">
					<span>Вы точно этого хотите? Ждать придется долго</span>
					<a href ng-click="showFilteredArticles(true);windowBadgeMuch.show=false">Да</a>
					<a href ng-click="windowBadgeMuch.show=false">Нет</a>
				</div>
			</div>

		</div>
	</div>
     <div class="fix-div" ng-show="sedModal" ng-click="sedModal = !sedModal" style="top: 0"></div>

</div>
<!-- <footer class="footer">
	<div class="content">
		<div class="wrap">
			<a href="#" class="exit">&nbsp;</a>
			<a href="#" class="copy">&nbsp;</a>
			<a href="#" class="like">&nbsp;</a>
			<a href="" class="check" ng-click="$root.allChecked = !$root.allChecked">&nbsp;</a>
		</div>
	</div>
</footer> -->