<input type="hidden" id="product-id" value="{{ id }}">
<div class="container" ng-controller="checkboxCtrl">
    <div class="wrap-content">
        <div header-height class="wrap-header" ng-controller="headerCtrl">
            <header class="header">
                <div class="content">
                    <!-- 					<div class="btn-group" dropdown is-open="status.isopen">
						<button href class="menu-handle dropdown-toggle">
							<img src="{{ MEDIA_URL }}css/images/header-left-menu-handle-1.png" alt="menu">
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="item in vibleMenu">
								<a href="" ng-class="{back: item.back, active: item.active}" ng-click="rerenderMenu(item.children, item.id)">{$ item.title $}</a>
							</li>
						</ul>
					</div> -->
                    <div class="btn-group" ng-controller="profileOpen">
                        <button class="menu-handle open-profile-modal" ng-click="openProfile()" >
                            <img src="{{ MEDIA_URL }}css/images/header-left-menu-handle-1.png" alt="menu">
                        </button>
                    </div>
                    <a href="" class="logo icon-moon" ng-click="redirectToIndex($root.baseurl)"></a>
                    <div class="search-form icon-moon">
                        <form action=".">
                            <input type="text" ng-model="$parent.searchText">
                            <button ng-click="ctrl.filter()">&nbsp;</button>
                        </form>
                    </div>
                    <div class="header-icons">
                        <hr/>
                        <a href class="check-articles icon-moon-menu" ng-click="$root.allChecked = !$root.allChecked" ng-class="{'check-all': $root.allChecked}"></a>
                        <a href class="share-upload icon-moon-menu" ng-click="openMenu()"></a>
                        <a href="#" class="right settings icon-moon-profile" ng-click="openSetings()" style="float: none;margin: 2px 0 2px 10px;"></a>

                        <a href ng-click="goToWidgetNull()" class="profile-handle icon-moon" style="margin-left: 5px"></a>
                        <!-- <a href ng-click="showHideFiltersList()" class="settings-handl'e icon-moon"></a> -->
                    </div>
                    <ul class="share-dropdown" ng-show="shareMenu">
                        <li class="icon-mail icon-moon-menu" ng-click="generateDoc(dataService.data.product.title)">Отправить по почте {$dataService.data.product.title$}</li>
                        <li class="icon-eng icon-moon-menu" ng-click="generateDoc('translation')">Отправить на перевод</li>
                        <li class="icon-link icon-moon-menu" clip-copy="copyLink()" ng-click="copyLinkTwo()">Копировать ссылку</li>
                        <li class="icon-print icon-moon-menu"  ng-click="printArticles()">Отправить на печать</li>

                    </ul>
                </div>

            </header>
            <div class="under-header">
                <div class="content">
                    <div class="wrap">
						<span class="dropdown clear" on-toggle="toggled(open)">
							<div class="valign-middle">
                                <div class="valign-middle-inner">
                                    <p class="count-of-news">(<span class="count dropdown-toggle">{$ dataService.data.articles_count $}</span>)</p>
                                    <!-- <p class="dynamic-breadcrumbs" ng-bind-html="dataService.activeTitle"></p> -->

                                    <p class="dynamic-breadcrumbs" dynamic-breadcrumbs></p>

                                </div>
                            </div>
							<div class="dropdown-menu top-filter">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Объекты</th>
                                        <th>Число сообщений</th>
                                        <th>Позитив<br/><span class="small-flag small-flag_green"></span></th>
                                        <th>Нейтрал<br/><span class="small-flag small-flag_grey"></span></th>
                                        <th>Негатив<br/><span class="small-flag small-flag_red"></span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="filter in generalFilters">
                                        <td>{$ filter.title $}</td>
                                        <td>
                                            <a href ng-show="isWorkedLink(filter.count)"
                                               ng-click="filterWidgetNull(filter.reffered_object_id)">{$ filter.count $}</a>
                                            <span ng-show="!isWorkedLink(filter.count)">0</span>
                                        </td>
                                        <td>
                                            <a href ng-show="isWorkedLink(filter.object_count.positive.count)"
                                               ng-click="filterWidgetNull(filter.reffered_object_id, filter.object_count.positive.id)">{$ filter.object_count.positive.count $}</a>
                                            <span ng-show="!isWorkedLink(filter.object_count.positive.count)">0</span>
                                        </td>
                                        <td>
                                            <a href ng-show="isWorkedLink(filter.object_count.neutral.count)"
                                               ng-click="filterWidgetNull(filter.reffered_object_id, filter.object_count.neutral.id)">{$ filter.object_count.neutral.count $}</a>
                                            <span ng-show="!isWorkedLink(filter.object_count.neutral.count)">0</span>
                                        <td>
                                            <a href ng-show="isWorkedLink(filter.object_count.negative.count)"
                                               ng-click="filterWidgetNull(filter.reffered_object_id, filter.object_count.negative.id)">{$ filter.object_count.negative.count $}</a>
                                            <span ng-show="!isWorkedLink(filter.object_count.negative.count)">0</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
						</span>
                        <form>
                            <div class="valign-middle">
                                <div class="valign-middle-inner">
                                    <div class="datepicker">
                                        <div class="element icon-moon" ng-if="dateType!='day'">
                                            <input ourdatepicker type="text" ng-model="dateStart" ng-change="getNewsList('start', dateStart)" class="js-datepicker-baraban">
                                        </div>
                                        <div class="element icon-moon">
                                            <input ourdatepicker type="text" ng-model="dateEnd" ng-change="getNewsList('end', dateEnd)" class="js-datepicker-baraban">
                                        </div>
                                        <a href class="arrow prev icon-moon" ng-click="nextPrev('prev')" ng-disabled="true">&nbsp;</a>
                                        <a href class="arrow next icon-moon" ng-click="nextPrev('next')">&nbsp;</a>
                                    </div>
                                    <a href class="add-date icon-moon" ng-click="goToWidgetNull()"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="block-select-filters" ng-show="showFiltersList">
                        <div class="block-select-filter-wrap">
                            <div class="block-select-filters-list">
                                <p class="elem-title">Основное</p>
                                <ul class="f-row clear">
                                    <li ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
                                        <input type="checkbox" id="select-filters-{$ $index $}">
                                        <label for="select-filters-{$ $index $}">Источник</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-select-filters-list">
                                <p class="elem-title">СМИ</p>
                                <ul class="f-row clear">
                                    <li ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
                                        <input type="checkbox" id="select-filters-{$ $index $}">
                                        <label for="select-filters-{$ $index $}">Уровень</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-select-filters-list">
                                <p class="elem-title">География</p>
                                <ul class="f-row clear">
                                    <li ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
                                        <input type="checkbox" id="select-filters-{$ $index $}">
                                        <label for="select-filters-{$ $index $}">Федеральный округ</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-submit clear">
                            <a href="" class="our-btn dark middle">сохранить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="main-content">
            <div class="content">
               {% include 'settingModals.html' %}
                <div class="news">
                    <form name="form">
                        <category-list category="dataService.data.monitoring_product_template" search-text="searchText"></category-list>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="lazy-preloader show-hide" ng-show="$root.loadingLazyLoad"><img src="{{ MEDIA_URL }}css/images/preload-ios.gif" alt=""></div>
    <div ng-show="sedModal" class="dispatch">
        <div class="modal-header">
            <h3 class="modal-title">
                <p class="icon-moon icon-dispatch"></p>
                <span>Отправить</span>
            </h3>
        </div>
        <div class="modal-body">
            <form action="" class="yes-no">
                <div class="form-block">
                    <label for="from">От:</label>
                    <input type="text" ng-model="from" id="from"/>
                </div>
                <div class="form-block">
                    <label for="to">Кому:</label>
                    <input type="text"  ng-model="to" id="to"/>
                </div>
                <div class="form-block">
                    <label for="theme">Тема:</label>
                    <input type="text" ng-model="topic" id="theme"/>
                </div>
                <div class="form-block">
                    <label for="message">Текст письма:</label>
                    <textarea name="" ng-model="message" id="message"></textarea>
                </div>
                <div class="form-block attache">
                    <p>{$file_name$}</p>
                </div>
                <button class="yes-yes orange-btn" ng-click="sendArticle()">отправить</button>
            </form>
        </div>
    </div>
    <div class="fix-div" ng-show="sedModal" ng-click="sedModal = !sedModal" style="top: 0"></div>


</div>
<div>

</div>
{#<div class="opensAdds" ng-init="init()">#}
{#    <div class="body-modal-add">#}
{#        <div class="title-add">#}
{#            <p>Изменение объекта</p>#}
{#        </div>#}
{#        <div class="body-add">#}
{#            <p>Цветовая метка:</p>#}
{#            <div class="colors-add">#}
{#                <span ng-repeat="color in colors" ng-click="setActiveColor(color)" ng-class="{active: isActiveColor(color)}"><span style="background: #{$ color $}"></span></span>#}
{#            </div>#}
{#            <p>Ключевые слова:</p>#}
{#            <div class="list-add">#}
{#                <perfect-scrollbar scrolls class="scroll-keywords" first-category="first_category_list" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">#}
{#                    <ul ng-repeat="word in new_keywords">#}
{#                        <li data-id="word.id">{$ word.word $} <span ng-click="deleteKeyword($index)"></span></li>#}
{#                    </ul>#}
{#                </perfect-scrollbar>#}
{#                <input type="text" ng-model="listWord" my-focus="focus" ng-show="addsList" my-blur="doAddsList()"/>#}
{#                <a href="" ng-click="addList()">добавить</a>#}
{#            </div>#}
{#            <button class="orange-btn" ng-click="saveKeywords()">сохранить</button>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<!-- <footer class="footer">
	<div class="content">
		<div class="wrap">
			<a href="#" class="exit">&nbsp;</a>
			<a href="#" class="copy">&nbsp;</a>
			<a href="#" class="like">&nbsp;</a>
			<a href="" class="check" ng-click="$root.allChecked = !$root.allChecked">&nbsp;</a>
		</div>
	</div>
</footer> -->