<!DOCTYPE html>
<html id="ng-app" ng-app="exlibris">
<head>
    <meta charset="utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <title>Exlibris</title>
    <!--[if lte IE 8]>
		<script>
			document.createElement('ng-include');
			document.createElement('ng-pluralize');
			document.createElement('ng-view');

			// Optionally these for CSS
			document.createElement('ng:include');
			document.createElement('ng:pluralize');
			document.createElement('ng:view');
		</script>
	<![endif]-->
    <!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <script src="{{ MEDIA_URL }}js/lib/jquery.min.js"></script>
	<![endif]-->
    <!--[if gte IE 9]>
        <style type="text/css">html,*{filter: none;}</style>
    <!-->
    <!-- script src="{{ MEDIA_URL }}js/lib/jquery.min.js"></script -->
    <!--<![endif]-->
</head>
<body>

<div style="width: 210mm;">
    <p style="font: bold 10px Tahoma; text-indent: 30px; background: #DCC5A5; color: rgba(117,15,14, 1); line-height: 18px;">{{ source }}, {{ date_upload|date:"d.m.Y" }}, {{ title }}</p>
    <div>
        <p style="font: bold 9px Tahoma; width: 150mm; margin-left: 60mm; color: rgba(77,77,77, 1); line-height: 13px;">{{ annotation }}</p>
    </div>
    <div>
        <p style="font: 10px Tahoma; margin: 0; text-indent: 30px; line-height: 13px;">{{ author }}</p>
        {{ description }}
    </div>
</div>


</body>
</html>